.footerV2 {

  font-family: var(--global-font-abc-whyte);
  color: white;

  .footerV2-top {
    background-color: #160643;
    padding: 67px 0px;
    display: flex;
    flex-direction: row;
    margin: 0 auto;

    .footerV2-top-container {
      max-width: $desktop-ml;
      width: 100%;
      display: flex;
      flex-direction: row;
      margin: 0 auto;
      @media(max-width: $mobile-breakpoint){
        flex-direction: column; 
      }
    }

    .footerV2-column {
      margin: 10px 0 0 2%;
      flex-grow: 1;
      width: calc(100% * (1/4) - 10px - 1px);
      @media(max-width: $mobile-breakpoint){
       width: 100%; 
       padding-left: 50px;
       margin: 0;
      }
    }

    .footerV2-top-col01 {
      margin: 0;

      .footerV2-logo {
        width: 223px;
        height: 52px;
      }

      .address {
        margin-top: 37px;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
      }
    }

    .footerV2-top-col02 {
      padding-top: 40px;
      padding-left: 70px;
      margin: 0;
      @media(max-width: $mobile-breakpoint){
        padding-left: 50px;
       }

      ul.menu-footer {
        margin: 0;
        list-style: none;
        padding: 0;

        li {
          margin-top: 16px;
          line-height: 1;

          a {
            color: #FFF;
            text-decoration: none;
            font-size: 16px;
            line-height: 1;
            font-family: var(--global-font-abc-whyte);
            font-weight: 700;
            display: flex;
            align-items: center;
  
            img{
              width: 20px;
              margin-left: 10px;
              opacity: 0;
            }
      
          }
          &:hover{
            img{
              opacity: 1;
              transition: .5s ease;
            }
          }
        }

        li:first-of-type {
          margin-top: 0px;
        }

      }
    }

    .footerV2-top-col03 {
      padding-top: 40px;

      .social-copy {}

      .social-icons {
        display: flex;
        flex-direction: row;
        margin-top: 20px;

        @media(max-width: 768px) {
          justify-content: space-between;
          padding-right: 50px;
          margin-bottom: 60px;
        }

        a {
          background-color: #ABFFEB;
          color: #160643;
          width: 32px;
          height: 32px;
          font-size: 20px;
          line-height: 18px;
          text-align: center;
          padding: 5px;
          margin-right: 8px;
          transition: 0.2s all ease-in-out;

          &:hover {
            background-color: var(--global-color-red);
            color: #160643;
          }
        }
      }
    }

    .footerV2-top-col04 {
      padding: 0;

      .mail-list {
        background-color: #2E1D97;
        color: #FFF;
        padding: 30px 20px 40px 70px;
        box-sizing: border-box;
        overflow: hidden;

        .title {
          font-family: var(--global-font-abc-whyte);
          font-weight: 800;
          font-size: 26px;
          line-height: 33.8px;
          margin-bottom: 32px;
        }
      }
    }
  }


  .footerV2-bottom {
    background-color: #160643;
    border-top: 2px solid #3E2BB1;
    padding: 38px 0px;

    &-container {
      display: flex;
      flex-direction: row;
      max-width: $desktop-ml;
      margin: 0 auto;
      @media(max-width: $mobile-breakpoint){
        flex-direction: column;
       }

      .footer-bottom-copyright {
        font-size: 14px;
        font-family: var(--global-font-abc-whyte);
        margin-right: 50px;
        @media(max-width: $mobile-breakpoint){
          text-align: center;
          margin-bottom: 22px;
          margin-right: 0;
         }
      }

      .footer-bottom-menu {
        ul {
          height: 100%;
          margin: 0;
          display: inline-block;
          list-style: none;
          padding: 0;
          justify-content: space-evenly;
          align-items: center;
          display: flex;

          li {
            margin-right: 23px;

            a {
              color: #FFF;
              text-decoration: none;
              font-size: 14px;
              font-family: var(--global-font-abc-whyte);
              background-image: linear-gradient(#ef4136, #ef4136);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 2px;
              transition: background-size .9s;
              display: initial;
              &:hover {
                color: #FFF;
                background-size: 100% 2px;
              }
            }
          }

        }
      }
    }
  }
}