@import "../base/hamburguer-settings";
@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.hamburger-box{
  width: 40px;
  height: 29px;
}


.header-v2-mobile {
  font-family: var(--global-font-abc-whyte);

  @media(max-width: $menu-mobile-breakpoint){
    display: block; 
  }
  
  @media(min-width:  $menu-mobile-breakpoint){
    display: none; 
  }

  &-row {
    background: #160643;
    height: 65px;
    border-bottom: 2px solid #3E2BB1;


    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 100;
      position: relative;
      background: #160643;

      &-button{
        display: flex;
        .hamburger {
          padding: 16px 11px 12px 11px !important;
          &.is-active {
            background: #2E1D97;
          }
        }

        .menuText{
          transition: all 0.2s ease;
          color: #ABFFEB;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 16px;
          margin-bottom: 2px;
          letter-spacing: 0em;
          text-align: left;
          display: flex;
          justify-content: center;
          align-content: center;
          flex-direction: column;
          &.hideTextMenu{
            opacity: 0;
          }
        }
      }

      .isologo-mobile {
        height: 35px;
        align-content: center;
        box-sizing: border-box;
        margin: auto;

        img {
          height: 100%;
        }
     

        a{
          img {
            margin: 15px;
          }
        } 
      }

    }
  }
}

.mobile-nav {
  width: auto;
  height: fit-content;
  transition: 0.3s transform ease-in-out;
  transform: translateY(-200%);

  z-index: 100;
  position: relative;



  &.show-menu {
    width: 100%;
    transform: translateY(0);
    background-color: #2E1D97;
  }
  #section-search {
    padding: 20px;
    background-color: #2E1D97;
    position: relative;
    .search-wrapper {
      position: relative;
      transform: inherit;
      right: inherit;
      top: inherit;
      .input-holder{
        width: 100%;
        input.search-input::placeholder {
          color: #FFF;
        }
      }
    }   
  }

/* New Nav */


#section-01,
#section-02 {
	max-width: 100%;
  margin: 0 auto;
  & > ul {
    list-style: none;
    padding: 0;
    /*margin: 0 0 20px 0;*/
    margin: 0px;
  }

  .no-submenu{
    color: #FFF;
    padding: 20px 30px;
    display: block;
  }
  
}

#section-01{
  background-color: #2e1e97;
  padding-top: 2rem;
}


#section-02{
  background-color: #3E2BB1;
  [data-toggle="dropMobile"] {
    background-color: #3E2BB1;
  }
}



$openBg: #3E2BB1;

@mixin ul-nostyle {
	list-style: none;
	padding: 0;
	margin: 0;
}



.dropMobile {
	a {
		text-decoration: none;
    color: white;
    background-image: url("../img/v2/menu-close.svg");
    background-repeat: no-repeat;
    background-size: 16px;
    background-position: 85% center;
    &.open{
      background-image: url("../img/v2/menu-open.svg");
    }
	}

	[data-toggle="dropMobile"] {
		position: relative;
		display: block;
		color: white;
    background-color: #2E1D97;
    padding: 20px 30px;
	}

	

	.dropMobile-menu {
		max-height: 0;
		overflow: hidden;
		list-style: none;
    padding: 0;
    margin: 0;

		li {
			padding: 0;

			a {
				display: block;
				color: #FFF;
				background: $openBg;
        padding: 20px 30px;
			}
		}
	}

	.show {
		display: block;
		max-height: 9999px;
	}

	.hide {
		max-height: 0;
	}
}

/* New Nav */


}

.w-opacity {
  position: absolute;
  top: -65px;
  right: 0;
  width: calc(100% - 68px);
  background-color: #160643;
  z-index: 99999999999;
  height: 65px;
  opacity: .7;
  display: block;
}


.clicky-menu  button:hover #eader-v2-bottom-nav-ending-mass-incarceration-submenu{
  display: block;
}