@import "../base/hamburguer-settings";
@import "../../../../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss";

.header-v2-mobile {
  font-family: var(--global-font-abc-whyte);

  @media(max-width: $menu-mobile-breakpoint){
    display: block; 
  }
  
  @media(min-width:  $menu-mobile-breakpoint){
    display: none; 
  }

  &-row {
    background: #160643;
    height: 60px;
    border-bottom: 2px solid #3E2BB1;


    &-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      z-index: 600;
      position: relative;
      background: #160643;

      .hamburger {
        &.is-active {
          background: #2E1D97;
        }
      }

      .isologo-mobile {
        height: 60px;
        align-content: center;
        box-sizing: border-box;
        display: flex;

        img {
          margin: 15px;
        }
      }
    }

  }
}

.mobile-nav {
  width: auto;
  height: fit-content;
  transition: 0.3s transform ease-in-out;
  transform: translateY(-200%);

  z-index: 100;
  position: relative;



  &.show-menu {
    width: 100%;
    transform: translateY(0);
  }

  #section-01 {
    padding: 20px;
    background-color: #2E1D97;

    .clicky-menu {
      justify-content: stretch;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      @media(max-width: $mobile-medium) {
        max-width: 80%;
        margin: 0 auto;
      }
    
    }

    @media (min-width: $menu-mobile-breakpoint) {
      .clicky-menu {
        display: flex;
      }
    }

    /* General Link & Button Styles */
    .clicky-menu a,
    .clicky-menu button {
      color: #FFF;
      text-decoration: none;
      font-size: 17px;
      font-weight: bold;
      background: transparent;
      height: 67px;
      margin: 0;
      padding: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .clicky-menu a:hover,
    .clicky-menu :hover {
      background-color: #2E1D97;

    }

    .clicky-menu [aria-expanded="false"] {
      background-color: #2E1D97;
      background-image: url("../img/v2/menu-mobile-close.svg");
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: right 10px center;
    }

    .clicky-menu [aria-expanded="true"] {
      background-color: #2E1D97;
      background-image: url("../img/v2/menu-mobile-open.svg");
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: right 10px center;
    }

    /* Top Level Items */
    .clicky-menu>li {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      justify-content: stretch;
      flex-wrap: wrap;
    }

    .clicky-menu>li>a,
    .clicky-menu>li>button {
      flex: 1 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: 0;
      font-size: inherit;
      line-height: 1.5;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    @media (min-width: $menu-mobile-breakpoint) {

      .clicky-menu>li>a,
      .clicky-menu>li>button {
        justify-content: center;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    /* Submenu Styles */
    .clicky-menu ul {
      min-width: 100%;
      width: 12em;
      margin-top: 0;
      padding: 0;
      list-style: none;
      background-color: #2E1D97;
    }

    @media (min-width: $menu-mobile-breakpoint) {
      .clicky-menu {}
    }

    /* Responsive Submenu Behavior */
    .clicky-menu ul[aria-hidden="false"] {
      position: static;
      width: 100%;
      flex: 0 0 auto;
    }

    @media (min-width: $menu-mobile-breakpoint) {
      .clicky-menu ul[aria-hidden="false"] {
        position: absolute;
        //width: auto;
        width: 413px;
      }
    }

    /* Submenu Links */
    .clicky-menu ul li {
      padding: 10px 10px 10px 30px;
      font-size: 14px;

      &:hover {
        background-color: #3E2BB1;

        .hover-arrow {
          padding-right: 30px;
          width: fit-content;
          background-image: url("../img/v2/arrow.svg");
          background-repeat: no-repeat;
          background-size: inherit;
          background-position: right 0px center;
        }
      }

      a {
        display: block;
        font-size: 14px;
        background-color: transparent;
        height: inherit;

        &:hover {
          background-color: transparent;
        }
      }
    }
  }

  #section-02 {
    background-color: #3E2BB1;
    width: 100%;
    padding: 20px;
    height: fit-content;
    z-index: 300;
    position: relative;

    .clicky-menu {
      justify-content: stretch;
      margin: 0;
      padding: 0;
      list-style: none;
      width: 100%;
      @media(max-width: $mobile-medium) {
        max-width: 80%;
        margin: 0 auto;
      }
    }

    @media (min-width: $menu-mobile-breakpoint) {
      .clicky-menu {
        display: flex;
      }
    }

    /* General Link & Button Styles */
    .clicky-menu a,
    .clicky-menu button {
      color: #FFF;
      text-decoration: none;
      font-size: 14px;
      font-weight: 400;
      background: transparent;
      height: 40px;
      padding: 0;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    .clicky-menu a:hover,
    .clicky-menu :hover {
      background-color: transparent;
    }

    .clicky-menu [aria-expanded="false"] {
      background-color: transparent;
      background-image: url("../img/v2/menu-mobile-close.svg");
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: right 10px center;
    }


    .clicky-menu [aria-expanded="true"] {
      background-color: transparent;
      background-image: url("../img/v2/menu-mobile-open.svg");
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: right 10px center;
    }

    /* Top Level Items */
    .clicky-menu>li {
      position: relative;
      flex: 1 1 auto;
      display: flex;
      justify-content: stretch;
      flex-wrap: wrap;
    }

    .clicky-menu>li>a,
    .clicky-menu>li>button {
      flex: 1 0 auto;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      border: 0;
      font-size: inherit;
      line-height: 1.5;
      cursor: pointer;
      &:focus {
        outline: none;
        box-shadow: none;
      }
    }

    @media (min-width: 540px) {

      .clicky-menu>li>a,
      .clicky-menu>li>button {
        justify-content: center;
        &:focus {
          outline: none;
          box-shadow: none;
        }
      }
    }

    /* Submenu Styles */
    .clicky-menu ul {
      min-width: 100%;
      width: 12em;
      margin-top: 0;
      padding: 0;
      list-style: none;
      background-color: transparent;
      padding: 10px 0px;
    }

    /* Responsive Submenu Behavior */
    .clicky-menu ul[aria-hidden="false"] {
      position: static;
      width: 100%;
      flex: 0 0 auto;
    }

    @media (min-width: 540px) {
      .clicky-menu ul[aria-hidden="false"] {
        position: absolute;
        width: 413px;

      }
    }

    /* Submenu Links */
    .clicky-menu ul li {
      padding: 10px 10px 10px 30px;

      &:hover {
        background-color: #3E2BB1;

        .hover-arrow {
          padding-right: 30px;
          width: fit-content;
          background-image: url("../img/v2/arrow.svg");
          background-repeat: no-repeat;
          background-size: inherit;
          background-position: right 0px center;
        }
      }

      a {
        display: block;
        background-color: transparent;
        height: inherit;

        span {
          font-size: 14px;
          font-weight: 400;
          word-wrap: break-word;
          height: inherit;
        }

        &:hover {
          height: inherit;
          background-color: transparent;
        }
      }
    }
  }

  #section-search {
    padding: 20px;
    background-color: #2E1D97;
  }
}