
.search-wrapper {
  position: absolute;
  transform: translate(0%, -50%);
  top: 50%;
  right: 50px;

  .input-holder {
    max-height: 70px;
    width: 80px;
    overflow: hidden;
    position: relative;
    color: white;
    display: flex;
    flex-direction: row;

    .search-icon {
      border: none;
      padding: 0px;
      outline: none;
      position: relative;
      z-index: 2;
      float: right;
      cursor: pointer;
      background-color: transparent;

      span {
        width: 22px;
        height: 22px;
        display: inline-block;
        vertical-align: middle;
        position: relative;
        background-image: url("../img/v2/s-iconw.svg");
        background-repeat: no-repeat;
        background-size: cover;
      }
      &:hover{
        span{
          background-image: url("../img/v2/s-iconm.svg");
        }
      }
    }

    .search-input {
      width: 100%;
      height: 50px;
      padding: 0px 70px 0px 0px;
      opacity: 0;
      position: absolute;
      top: 0px;
      left: 0px;
      background: transparent;
      box-sizing: border-box;
      border: none;
      outline: none;
      font-family: var(--global-font-abc-whyte);
      font-size: 14px;
      font-weight: 400;
      line-height: 22.7px;
      color: #FFF;
      border-bottom: 1px solid #ABFFEB;
      transform: translate(0, 60px);
      padding-right: 90px;
    }

    .txt-label {
      font-family: var(--global-font-abc-whyte);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      padding-right: 10px;
    }

    .close {
      display: none;
    }
  }

  &.active {
    .input-holder {
      display: block;
      max-width: 300px;
      width: 250px;
      .search-icon {
        height: 50px; 
        margin: 10px;
        right: 0px;
        background-color: transparent;
        span {
          background-image: url("../img/v2/s-icon.svg");
        }
      }

      .search-input {
        opacity: 1;
        transform: translate(0, 10px);
        margin-left: 50px;
      }

      .close {
        display: block;
      }
    }

    .txt-label {
      display: none;
    }

    .close {

      &::before,
      &::after {
        position: absolute;
        content: '';
        background: #CEC0BC;
      }

      &::before {
        width: 1px;
        height: 25px;
        left: 12px;
        top: 0px;
      }

      &::after {
        width: 25px;
        height: 1px;
        left: 0px;
        top: 12px;
      }
    }
  }


  .close {
    position: absolute;
    z-index: 1;
    top: 24px;
    left: 0px;
    width: 25px;
    height: 25px;
    cursor: pointer;
    
  }

  &.active .close {
    right: 0px;
    transform: rotate(45deg);
    &:hover{
      &::before,
      &::after {
        background: var(--global-color-red);
      }
    }
  }


}