{% set  viz = block.dataViz_v2[0] %}

{% if viz.type.handle == "endorsers" %}
  <div class="endorsers-wrap">
    {% include "/initiatives/viz/endorsers" %}
  </div>
{% elseif viz.type.handle == "iconList" %}
<!--Icon LIst-->
  {% include "/initiatives/viz/iconList" %}
{% elseif viz.type.handle == "timelineMap" %}
  {% include "/initiatives/viz/map" %}
{% endif %}