{% extends '_layout' %}


{% block content %}
	<header class="special-reports__post-header{% if entry.level == 3 %} additional-reading{% endif %}">
	    <div class="special-reports__post-header-inner">
        <h1>{{ entry.title }}</h1>

        

	    </div>
	</header>
  {% include 'includes/snippets/article' with { article: entry.specialReportsArticle, theme: entry.chapterTheme ? entry.chapterTheme.value : null, title: entry.title } %}

{% endblock %}

