{% extends '_layout' %}
{% set title = entry.title %}
{% block content %}

{% set blocks =  entry.topicPageBlocks %}
<div class="topicPage">
	{% for block in blocks %}
		{% if block.type == 'copy' %}
    	{% include 'v2/common/copy' with { block: block }  %}
		{% elseif  block.type == 'slideshow' %}
      {% include 'v2/common/swiperSlider' with { block: block } %}
		{% elseif  block.type == 'video' %}
      {% include 'v2/common/videoBlock' with { block: block } %}
		{% elseif  block.type == 'map' %}
		  <div class="mapContainer">
        {% include '../../vera-maps/_maptypesBlock'  with { block: block } %}
      </div>
		{% elseif block.type == 'quote' %}
    	{% include 'v2/common/quote' with { block: block } %}
		{% elseif block.type == 'stats' %}
    	{% include 'v2/common/stats' with { block: block } %}
		{% elseif block.type == 'listing' %}
    	{% include 'v2/common/listing' with { block: block } %}
		{% elseif block.type == 'exploreMore' %}
    	{% include 'v2/common/exploreMore' with { block: block } %}	
		{% elseif block.type == 'signUp' %}
    	{% include 'v2/common/signUp' with { block: block } %}
		{% elseif block.type == 'newsHero' %}
    	{% include 'v2/common/newsHero' with { block: block } %}			
		{% elseif block.type == 'newsItems' %}
    	{% include 'v2/common/newsItems' with { block: block } %}
		{% elseif block.type == 'heroType1' %}
    	{% include 'v2/common/heroType1' with { block: block } %}		
		{% elseif block.type == 'bannerType3' %}
			{% include 'v2/common/bannerType3' with { block: block } %}	
		{% elseif block.type == 'code'  %}
        <div class="code-container">{{ block.code | raw }}</div>   
		{% elseif  block.type == 'headerTitle' %} {# Header - No Image#}
        {% include 'v2/common/headerTitle' with { block: block } %}
		{% endif %}
	{% endfor %}
</div>
{% endblock %}

