
    <!-- ctaBanner FullWidth Block -->
    <section class="bannerType4">
      <div class="bannerType4-content">
        <h3 class="bannerType4-title">
           {{ block.banner_title}}
        </h3>
        <div class="bannerType4-text">
         <p>{{ block.banner_subtitle }}</p>
        </div>
        <a href="{{ block.banner_cta.getUrl() }}" class="button orange arrow">
          <span>{{ block.banner_cta.customText }}</span>
       </a>
      </div>
    </section>
    <!-- ctaBanner FullWidth Block -->