<!-- Banner Type 3 -->
<section class="topic-blocks-ctaBannerFw">
  <div class="topic-blocks-ctaBannerFw-content">
    <h3 class="topic-blocks-ctaBannerFw-title">
      {{ block.banner_title}}
    </h3>
    <div class="topic-blocks-ctaBannerFw-text">
      <p>{{ block.banner_subtitle }}</p>
    </div>
    <a href="{{ block.banner_cta.getUrl() }}"  class="button orange arrow">
      <span>{{ block.banner_cta.customText }}</span>
    </a>
  </div>
</section>
<!-- Banner Type 3 -->
