
    <!-- In-page CTA -->
    <section class="bannerType4">
      <div class="bannerType4-content">
        <h3 class="bannerType4-title">{{ block.banner_title}}</h3>
        <div class="bannerType4-text">
         <p>{{ block.banner_subtitle }}</p>
        </div>
        <a href="{{ block.banner_cta.getUrl() }}" class="theButton"><span>{{ block.banner_cta.customText }}<div class="theArrow"></div></span>
       </a>
      </div>
    </section>
    <!-- In-page CTA -->