  <section class="copy-twoColumns">
    <div class="copy-twoColumns-title">
      {{ block.twoColumns_title }}
    </div>
    <div class="copy-twoColumns-content">
      <div class="copy-twoColumns-content-left">
       {{ block.twoColumns_left }}
      </div>
      <div class="copy-twoColumns-content-right">
      {{ block.twoColumns_right }}
      </div>
    </div>
  </section>