<!-- Explore More -->
<section class="block-exploreMore">
  <div class="block-exploreMore-container">
    <h5 class="block-exploreMore-title">{{ block.exploreMore_title }}</h5>
      {% if block.exploreMore_articles|length %}
        <ul class="block-exploreMore-items">
          {% for exploreItem in block.exploreMore_articles %}

          {% switch exploreItem.type.handle %}
   						{% case 'knowledgeNews' 
               or 'knowledgeFundingOpportunity' 
               or 'knowledgeEvent' 
               or 'knowledgeWebsite' 
               or 'knowledgePublication' 
               or 'knowledgeBlog' 
               or 'knowledgeVideo' 
               or 'practiceAdvisory' 
               or 'newslettersLegalUpdates' 
               or 'skillsDevelopmentAndPracticeGuidance'
               or 'referral'
               or 'presentationSlides'
               %}
  							{% if exploreItem.linkUrl is not null %}
                    {% set url = exploreItem.linkUrl %}
                {% elseif exploreItem.document is not null %}
                    {% set url = exploreItem.document.first.url %}
                {% endif %}
						{% endswitch %}

            <li>
              <a href="{{ url }}"  class="arrow">
                <span>{{ exploreItem.title }}<span class="icon-arrow"></span></span>
              </a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}  
  </div>
</section>

<!-- Explore More -->

