<section class="featured-type1">
  <div class="featured-type1-content">
      {% set stringLength = block.featuredType2_text | length %}
    <div class="featured-type1-content-title {% if stringLength > 133 %}smallText{% endif %}">
      {{ block.featuredType1_title }}
    </div>
    <div class="featured-type1-content-subtitle">
      {{ block.featuredType1_subtitle }} 
    </div>
  </div>
</section>
