<!-- Hero Type 3 -->
  <div class="heroType3">
    <div class="heroType3-content">
      <div class="heroType3-content-title">
        <h1>{{ block.line1 }}<br><span class="underline2">{{ block.line2 }}</span></h1>
      </div>
      <div class="heroType3-content-line1"></div>
      <div class="heroType3-content-line2"></div>
      <div class="heroType3-content-line3"></div>
      <div class="heroType3-content-line4"></div>
    </div>
  </div>
<!-- END Hero Type 3 -->
