  <div class="hero-type4">
      <div class="hero-type4-content">
        <div class="hero-type4-content-copy">
          <h1>Page title goes here lorem ipsum dolor sit</h1>
          <span class="subtitle">Subtitle goes here lorm ipsum dolor sit amet consectetur</span>
        </div>
   
        <div class="hero-type4-content-line1"></div>
        <div class="hero-type4-content-line2"></div>
        <div class="hero-type4-content-line3"></div>
        <div class="hero-type4-content-line4"></div>
      </div>
    </div>
