
<!-- Hero Type 3 -->
<div class="heroType3">
  <div class="heroType3-content">
    <div class="heroType3-content-line1"></div>
      <div class="heroType3-content-line2"></div>
      <div class="heroType3-content-line3"></div>
      <div class="heroType3-content-line4"></div>
    </div>
	 <div class="swiper mySwiper slider-home"> <div class="swiper-wrapper">
      <section class="swiper-slide">
        <div class="heading">
          <div>
            <p class="slide-up">
              <span class="green">Fight for</span>
            </p>
          </div>
          <div>
            <p class="slide-up">dignity.</p>
          </div>
          <div>
            <img class="slide-up stroke" src="../../dist/img/v2/brushstroke-02.svg" alt="">
          </div>
        </div>
      </section>
      <section class="swiper-slide">
        <div class="heading">
          <div>
            <p class="slide-up">
              <span class="green">Restore</span>
            </p>
          </div>
          <div>
            <p class="slide-up">communities.</p>
 
          </div>
             <div>
                <img class="slide-up stroke" src="../../dist/img/v2/brushstroke-02.svg" alt="">
              </div>
        </div>
      </section>
      <section class="swiper-slide">
        <div class="heading">
          <div>
            <p class="slide-up">
              <span class="green">End mass</span>
            </p>
          </div>
          <div>
            <p class="slide-up">incarceration.</p>
          </div>
          <div>
            <img class="slide-up stroke" src="../../dist/img/v2/brushstroke-02.svg" alt="">
          </div>
        </div>
      </section>
	  </div>
  </div>
</div> 
<!-- END Hero Type 3 -->