<!-- Hero Type 5 -->
{% set bgHero    =  block.heroType5_image.first %}
{% set bgMobile  =  bgHero.getUrl('heroType5_mobile') %}
{% set bgDesktop =  bgHero.getUrl('heroType5') %}

<style>
  .heroType5-background {
    background-image: url('{{ bgDesktop }}');
  }

  @media(max-width: 768px) {
    .heroType5-background {
      background-image: url('{{ bgMobile }}');
    }
  }
</style>

<div class="heroType5-container heroType5-background">


  <div class="heroType5-container-copy">
   <div class="heroType5-container-copy-breadcrumbs">
      {% if entry.level > 1 %}
      <a href="">HOME</a>
      {% for crumb in entry.getAncestors() %}
      // {{ crumb.getLink() }}
      {% endfor %}
      {% else %}
      <a href="">HOME</a>
      {% endif %}
    </div>

    <div class="heroType5-container-copy-title">
      <span>{{ block.heroType5_title }}</span>
    </div>
  </div>

</div>
<!-- Hero Type 5 -->