
<!-- Hero Type 3 -->
<div class="heroType3">
  <div class="heroType3-content">
    <div class="heroType3-content-line1"></div>
      <div class="heroType3-content-line2"></div>
      <div class="heroType3-content-line3"></div>
      <div class="heroType3-content-line4"></div>
    </div>
    <div class="home-slider-content">
      <div class="swiper homeSlider slider-home"> <div class="swiper-wrapper">
     
      <section class="swiper-slide">
        <div class="headingHero">

          <div class="textWrap">
            <div class="text slide-up">
              <span class="green">Fight for</span>
            </div>
          </div>

          <div class="textWrap">
            <div class="text slide-up">human <span class="heroUnderline">dignity. <img class="slide-up stroke" src="../../dist/img/v2/brushstroke-02.svg"></span>
            </div>
          </div>
          
        </div>
      </section>

      <section class="swiper-slide">
        <div class="headingHero">
          <div class="textWrap">
            <div class="text slide-up">
              <span class="green">Advocate</span>
            </div>
          </div>

          <div class="textWrap">
            <div class="text slide-up">
            for <span class="heroUnderline">immigrants.  <img class="slide-up stroke" src="../../dist/img/v2/brushstroke-03.svg"></span>
            </div>
          </div>

        </div>
      </section>
      <section class="swiper-slide">
        <div class="headingHero">

          <div class="textWrap">
             <div class="text slide-up">
              <span class="green">Invest in</span>
            </div>
          </div>
          <div class="textWrap">
             <div class="text slide-up">
            <span class="heroUnderline">communities. <img class="slide-up stroke" src="../../dist/img/v2/brushstroke-03.svg"></span>
            </div>
          </div>

        </div>
      </section>

      <section class="swiper-slide">
        <div class="headingHero">

          <div class="textWrap">
            <div class="text slide-up">
              <span class="green">End mass</span>
            </div>
          </div>

          <div class="textWrap">
            <div class="text slide-up">
            <span class="heroUnderline">incarceration. <img class="slide-up stroke" src="../../dist/img/v2/brushstroke-03.svg"></span>
            </div>
          </div>

        </div>
      </section>
	  </div>
    </div>
	
  </div>
</div> 
<!-- END Hero Type 3 -->