
    <!-- In-page CTA -->
    <section class="bannerType4">
      <div class="bannerType4-content">
        <h3 class="bannerType4-title">{{ block.inPageCta_title}}</h3>
        <div class="bannerType4-text">
         <p>{{ block.inPageCta_subtitle }}</p>
        </div>
        <a href="{{ block.inPageCta_cta.getUrl() }}" class="button orange arrow"> <span>{{ block.inPageCta_cta.customText }}</span>
       </a>
      </div>
    </section>
    <!-- In-page CTA -->