<figure class="quote-block-type1">
  <blockquote>
    <div class="quote-start"></div>
    <div class="quote-text">{{ block.quoteBlockType1_text }}</div>
  </blockquote>
  <figcaption class="quote-attribution">
    {{ block.quoteBlockType1_attribution }}
  </figcaption>
</figure>
