<figure class="quote-block-type1">
  <blockquote>
    <div class="quote-start"></div>
    <div class="quote-text">I became involved with Vera and criminal justice reform, like so many Americans, once it started touching me personally.</div>
  </blockquote>
  <figcaption class="quote-attribution">
    Lili Lynton  //  Trustee
  </figcaption>
</figure>
