
    <section class="resources-block-container">
      <div class="resources-block-content">
        <div class="resources-block-title">
          {{ block.resources_title }}
        </div>
        <div class="resources-block-items">
        {% if block.resources_asset|length %}
          {% for resource_item in block.resources_asset %}
            <div class="resources-block-item"><a href="{{ resource_item.resourceAsset.first.url }}" class="icon-link">{{ resource_item.resourceAsset.title }}</a></div>
          {% endfor %}
          {% endif %}
        </div>
      </div>
    </section>
