   <!-- Resources -->
    <section class="resources-block-container">
      <div class="resources-block-content">
        <div class="resources-block-title">
          Resources
        </div>

        <div class="resources-block-items-title">PDFs</div>
        <div class="resources-block-items">
          <div class="resources-block-item"><a href="" class="icon-pdf">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
          <div class="resources-block-item"><a href="" class="icon-link">Velit aperiam fuga blanditiis quas neque? Repudiandae?</a></div>
        </div>

        <div class="resources-block-items-title">Fact Sheets</div>
        <div class="resources-block-items">
          <div class="resources-block-item"><a href="" class="icon-link">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
          <div class="resources-block-item"><a href="" class="icon-link">Velit aperiam fuga blanditiis quas neque? Repudiandae?</a></div>
          <div class="resources-block-item"><a href="" class="icon-link">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
          <div class="resources-block-item"><a href="" class="icon-link">Velit aperiam fuga blanditiis quas neque? Repudiandae?</a></div>
        </div>

        <div class="resources-block-items-title">Partner Websites</div>
        <div class="resources-block-items">
          <div class="resources-block-item"><a href="" class="icon-link">Lorem ipsum dolor sit amet consectetur adipisicing.</a></div>
          <div class="resources-block-item"><a href="" class="icon-link">Velit aperiam fuga blanditiis quas neque? Repudiandae?</a></div>
        </div>
      </div>
    </section>
    <!-- Resources -->