<!-- SignUp -->
<section class="block-signup {{block.signUp_backgroundcolor}} ">
  <div class="block-signup-container">
    <div class="block-signup-left">
      <div class="block-signup-title">Learn. Take action. <br> <span  class="underline2">Transform</span> the system.
      </div>
      <div class="block-signup-copy">Sign up for our  mailing list.</div>
      <div class="block-signup-form">
        <input type="text" placeholder="Email">
        <a href="#" class="button orange arrow"><span>I’m in!</span></a>
      </div>
    </div>
    <div class="block-signup-right"></div>
  </div>
</section>
<!-- SignUp -->