<!-- SignUp -->
<section 
 class="ngp-form block-signup {{block.signUp_backgroundcolor}} "
 data-form-url="https://secure.everyaction.com/v1/Forms/9MnyiyAupU20rLpl1qXycQ2"
 data-fastaction-endpoint="https://fastaction.ngpvan.com"
 data-inline-errors="true"
 data-fastaction-nologin="true"
 data-databag-endpoint="https://profile.ngpvan.com"
 data-databag="everybody"
 data-mobile-autofocus="false"
>
  <div class="block-signup-container">
    <div class="block-signup-left">
      <div class="block-signup-title">Learn. Take action. <br> <span  class="underline2">Transform</span> the system.
      </div>
      <div class="block-signup-copy">Sign up for our  mailing list.</div>
      <div class="block-signup-form">
        <input type="text" placeholder="Email">
        <a href="#" class="button orange arrow"><span>I’m in!</span></a>
      </div>
    </div>
    <div class="block-signup-right"></div>
  </div>
</section>
<!-- SignUp -->


