<!-- SignUp -->
<section class="block-signup {{block.signUp_backgroundcolor}} ">
	<div class="block-signup-container">
		<div class="block-signup-left"  id="msg">

			<div class="block-signup-title">
				{% if block.signUp_title|length > 0 %}
					{{ block.signUp_title }}
				{% else %}
					Learn. Take action.
					<br>
					<span class="underline2">Transform</span>
					the system.
				{% endif %}
			</div>
			
			 <div class="block-signup-copy">
       {% if  block.signUp_subtitle|length > 0 %}
           {{ block.signUp_subtitle }}
        {% else %}
           Sign up for our  mailing list.
        {% endif %}
      </div>

			<form class="block-signup-form" id="signUp-form" onsubmit="return validation(event)">
				<input type="email" id="emailSignUp" placeholder="Email Address*">
				<button href="#" class="theButton">
					<span>I’m in!<div class="theArrow"></div></span>
				</button>
			</form>

			<div id="error-email"></div>
		</div>

		
		<div class="block-signup-left send-msg" style="display: none;" id="send">
			<div class="block-signup-title">
				<div class="message">
					<p>Thank you
						<br>
						for signing
						<br>up!</p>
					</div>
				</div>
				<div class="socials">
					<div class="donate-txt">
						<p>Join us in the
							<br>
							fight for justice.</p>
							<a href="{{ administrative.donateButtonLink }}" class="theButton">
								<span>Donate<div class="theArrow"></div></span>
							</a>
					</div>
					<div class="wrap-socials">
						<p>Help us spread
							<br>
							the world!</p>
						<div class="list-social">
							
								<a href="https://twitter.com/verainstitute" target="_blank">
									<svg id="Capa_1" data-name="Capa 1" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 45.97 46">
										<defs>
											<style>
												.cls-1 {
													fill: #abffeb;
												}
											</style>
										</defs><path class="cls-1" d="M.36,0V46h46V0ZM36.14,16.81c0,.26,0,.54,0,.8,0,8.25-6.27,17.74-17.74,17.74a17.65,17.65,0,0,1-9.57-2.79,14.91,14.91,0,0,0,1.5.08A12.47,12.47,0,0,0,18.09,30a6.21,6.21,0,0,1-5.82-4.32,6.86,6.86,0,0,0,2.81-.11,6.23,6.23,0,0,1-5-6.12v-.08a6.32,6.32,0,0,0,2.81.79,6.26,6.26,0,0,1-2.78-5.19A6.15,6.15,0,0,1,11,11.8a17.85,17.85,0,0,0,5.73,4.63,17.86,17.86,0,0,0,7.12,1.89,6.25,6.25,0,0,1,10.64-5.71,12.25,12.25,0,0,0,4-1.5,6.23,6.23,0,0,1-2.74,3.43,12.16,12.16,0,0,0,3.59-1A13.2,13.2,0,0,1,36.14,16.81Z" transform="translate(-0.36)"/></svg>
								</a>
						
						
								<a href="https://www.facebook.com/verainstitute" target="_blank">
									<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 47 46" style="enable-background:new 0 0 47 46;" xml:space="preserve">
										<style type="text/css">
											.st0 {
												fill: #ABFFEB;
											}
										</style>
										<path class="st0" d="M0.9,0v46h46V0H0.9z M29.8,15.2H26c-0.4,0-0.9,0.6-0.9,1.4v2.7h4.7l-0.7,3.9h-4v11.7h-4.5V23.2h-4v-3.9h4V17
																					c0-3.3,2.3-6,5.4-6h3.8V15.2z"/>
									</svg>
								</a>

						
					
								<a href="" target="blank_">

									<svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewbox="0 0 47 46" style="enable-background:new 0 0 47 46;" xml:space="preserve">
										<path style="fill:none;" d="M0,0c0,0,0.5-0.2,0.2-0.1"/>
										<g>
											<path style="fill:#ABFFEB;" d="M1,0H0v22.4C0,30.2,0,38,0,45.7V46h47V0C31.6-0.1,16.4,0.1,1,0z M13.1,14.2c7,0,13.9,0.1,20.9,0.1
											                      c0.2,0,0.2,0.2,0.1,0.3c-3.5,3.2-7,6.3-10.5,9.5c-0.1,0.1-0.2,0.1-0.2,0c-3.5-3.2-7-6.4-10.4-9.6C12.9,14.4,12.9,14.2,13.1,14.2z
											                      M36,16.9c0,4.6,0,9.2-0.1,13.8c-0.1,0.6-0.6,1.1-1.2,1.1c-7.5,0-15-0.1-22.5-0.1c-0.6,0-1.2-0.5-1.3-1.1c0-4.7,0.1-9.4,0.1-14
											                      c0-0.2,0.2-0.2,0.3-0.1c0.1,0.1,0.2,0.2,0.3,0.3c3.2,3,6.4,6,9.7,8.9c0.4,0.3,0.7,0.7,1.1,0.9c0.9,0.4,1.9,0.3,2.7-0.3
											                      c3.5-3.2,7-6.3,10.5-9.5C35.8,16.8,35.8,16.8,36,16.9z"/>
										</g>
									</svg>
								</a>
							
						</div>
					</div>
				</div>
			</div>

			<div class="block-signup-right" style="" class=""></div>
			<div class="bck"></div>
		</div>


	</section>
	<!-- SignUp -->

	<script>
		var emailAddress = document.getElementById("emailSignUp").value;
		var emailField = document.getElementById("emailSignUp");

		function validation(event) {
			event.preventDefault();
			const regex = {
				email: /[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}/gi
			};

			var emailAddress = document.getElementById("emailSignUp").value;
			var formerror = false;

			if (emailAddress == "") {
				document.getElementById("emailSignUp").focus();
				emailField.classList.add('error');
				document.getElementById("error-email").innerHTML = "<i class='fa-solid fa-circle-exclamation colorRed'></i> Email address cannot be blank";
				formerror = true;
			}

			if (emailAddress) {
				emailAddress = emailAddress.trim();
				if (!regex.email.test(emailAddress)) {
					document.getElementById("emailSignUp").focus();
					emailField.classList.add('error');
					document.getElementById("error-email").innerHTML = "<i class='fa-solid fa-circle-exclamation colorRed'></i> Please enter a valid email address";
					formerror = true;
				}
			}

			if (formerror) {
				var error_message = document.getElementById("error-message");
				error_message.style.display = "block";
				error_message.innerHTML = "<i class='fa-solid fa-circle-exclamation colorRed'></i> Please Correct it before submitting again";
				return false;
			}

			var form = document.getElementById("signUp-form");
			var formdata = new FormData(form);
			var styles = {
				"display": "flex",
				"flex-direction": "row"
			};

			fetch('https://secure.everyaction.com/v1/Forms/9MnyiyAupU20rLpl1qXycQ2', {
				method: 'POST',
				headers: {
					'Content-Type': 'application/x-www-form-urlencoded'
				},
				body: 'EmailAddress=' + emailAddress + '&type=SignupForm'
			}).then(res => res.json()).then(data => {
				if (data.resultCode == "Success") {
					console.log(data.resultCode);
					document.getElementById("send").style.display = "flex";
					document.getElementById("msg").style.display = "none";
					"<i class='fa-solid fa-circle-exclamation colorRed'></i> Please Correct it before submitting again";
				}
			});
		}
	</script>
