<!-- Swiper Slider -->

{% if block.images %}
  {% set images = block.images %}
{% elseif block.image %}
  {% set images = block.image %}
  {% set singleImage = true %}
{% endif %}

{% set swipeSlide = {
  width: 1440,
  height: 654,
  mode: 'fit',
  quality: 90,
  position: 'center-center',
  format: 'webp'
} %}

<section class="swiper swiperSlider swiperImages">
  <div class="swiper-wrapper {% if singleImage is defined %} singleImage {% endif %}">
    {% for image in images %}
      <div class="swiper-slide">
        <img src="{{ image.getUrl(swipeSlide) }}" />
        <span class="slide-caption">
            {% if image.caption %} {{ image.caption }}  {% endif %}
        </span>
      </div>
    {% endfor %}
  </div>

  <div class="swiper-arrows">
    <div class="swiper-button-next">
      <span></span>
    </div>
    <div class="swiper-button-prev">
      <span></span>
    </div>
  </div>
</section>
<!-- Swiper Slider -->