<section class="featured-type1">
  <div class="featured-type1-content">
    <div class="featured-type1-content-title">
      {{ block.quoteType1_title }}
    </div>
    <div class="featured-type1-content-subtitle">
      {{ block.quoteType1_subtitle }}
    </div>
  </div>
</section>
