    <div class="newsLanding-head">
      <div class="newsLanding-head-title">Filter By:</div>
      <div class="newsLanding-head-filter">
        <a href="{{ siteUrl }}news-and-stories" class="button-sand {% if actual == 'blogPosts' %}active{% endif %}">News</a>
        <a href="{{ siteUrl }}news-and-stories-series" class="button-sand {% if actual == 'blogSeries' %}active{% endif %}">News Series</a> <!-- blogSeries -->
        <a href="{{ siteUrl }}news-and-stories-special-reports" class="button-sand {% if actual == 'specialReports' %}active{% endif %}">Special Reports</a> <!-- specialReports	 -->
        <a href="{{ siteUrl }}news-and-stories-spotlights" class="button-sand {% if actual == 'spotlights' %}active{% endif %}">Spotlights</a> <!-- spotlights -->
      </div>
    </div><!-- newsLanding-head -->