{% set url = craft.app.request.url %}
{% if url == "/" %}
  {% set banner = craft.entries().section('headBanner').one() %}
  <div class="head-banner-small">
    <div class="head-banner-small_container">
      <div class="head-banner-small_container_left">{{ banner.head_collapsed_title }}</div>
      <div class="head-banner-small_container_right">
        <a href="https://www.google.com" target="_blank" class="button orange arrow"><span>Donate now</span></a>
      </div>
    </div>
  </div>
{% endif %}   