{% set url = craft.app.request.url %}
{% if url == "/" %}
   {% set banner = craft.entries().section('headBanner').one() %}
  <a class="curtain-mobile" href="{{ banner.head_mobile_cta.getUrl() }}" target="_blank">
    <p>{{ banner.head_mobile_cta.customText }}</p>
  </a>
{% endif %}  



