{% set url = craft.app.request.url %}
{% if url == "/" %}
<a class="curtain-mobile" href="https://google.com" target="_blank">
  <p>Make your Giving Tuesday gift for 3x the impact</p>
</a>
{% endif %}  