.center__content { 
    .stream-outer--full { 
        padding-top: $padding-lg; 
    }
}

.module-partners { 
    @include font-size(1.6); 

    @media (min-width: $tablet-portrait) { 
        @include columns(300px, 2, $padding-lg); 
    }

    @media (min-width: $tablet-landscape) { 
        @include columns(300px, 3, $padding-lg); 
    }

    h5 { 
        padding-top: $padding-sm; 

        &:first-of-type { 
            padding-top: 0; 
        }
    }
}