.contact-form-map {
  background-color: #fff7f0; /* $lt-gray;*/
  padding: $padding-lg 0;

  @media (min-width: $tablet-landscape) {
    padding: $padding-lg * 2 0;
  }

  .one-third,
  .two-thirds {
    padding-top: $padding-sm;
  }

  .img-outer {
    margin-bottom: $padding-lg;

    @media (min-width: $tablet-landscape) {
      margin-bottom: $padding-med * 2;
    }
  }

  .col-outer {
    display: block;

    @media (min-width: $tablet-portrait) {
      display: block;
    }

    @media (min-width: $tablet-landscape) {
      display: flex;
    }
  }

  @media (min-width: $tablet-portrait) {
    .one-third,
    .two-thirds {
      width: 100%;
    }
  }

  @media (min-width: $tablet-landscape) {
    .one-third,
    .two-thirds {
      padding-top: $padding-lg;
    }

    .one-third {
      @include width-by-columns(4);
    }

    .two-thirds {
      @include width-by-columns(7);
    }
  }
}

.contact-location-info {
  display: block;

  @media (min-width: $tablet-landscape) {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  .col {
    padding-right: $padding-lg;

    @media (min-width: $desktop-medium) {
      padding-right: $padding-lg * 2;
    }
  }
}

.contact-location,
.contact-directions {
  margin-bottom: $padding-sm;

  @media (min-width: $tablet-landscape) {
    margin-bottom: 0;
  }

  h3 {
    @extend %h3-alt;
    @extend .ff-serif--medium;

    @media (min-width: $tablet-landscape) {
      @include font-size(3.5);
    }
  }

  h5 {
    @extend %h5-alt;
    margin-bottom: $padding-sm;
  }

  ul {
    list-style: none;
    @include font-size(1.8);
  }

  .label {
    display: inline-block;
    width: $padding-lg;
    @extend .ff-sans--bold;
    text-transform: uppercase;
  }

  .img-outer {
    margin-bottom: $padding-sm;

    @media (min-width: $tablet-landscape) {
      margin-bottom: $padding-lg;
    }
  }

  a {
    color: $black;
  }
}

.contact-location {
  .more {
    @include see-more;
  }
}

.contact-email-form {
  input {
    border-color: $black;
  }

  textarea {
    margin-top: $padding-sm;
  }

  .freeform-row .freeform-column .freeform-label {
    font-weight: 400;
  }

  button[type="submit"] {
    @extend .btn;
    color: $black;
    border-color: $black;
  }
}

.contact-other-locations {
  padding: $padding-sm 0 0 0;

  .contact-location {
    ul {
      margin-bottom: $padding-sm;
    }
  }
}

.contact-text {
  margin-bottom: $padding-lg;
  padding-bottom: $padding-lg;

  @media (min-width: $tablet-landscape) {
    margin: $padding-lg 0;
    padding-bottom: $padding-lg;
  }
}

.contact-directions {
  .label {
    width: $padding-med * 2;
  }
}

.module-newsletter-signup {
  display: none;
  padding: $padding-lg 0;
  background: $dk-gray;
  color: $white;
  text-align: center;
  margin: auto;

  @media (min-width: $tablet-landscape) {
    padding: $padding-lg * 2 0;
  }

  h5 {
    @extend %h4;

    @media (min-width: $tablet-landscape) {
      @include font-size(2.5);
    }
  }

  input {
    border-color: $white;
  }

  .newsletter-signup {
    margin: 0 auto $padding-lg;

    @media (min-width: $tablet-portrait) {
      @include width-by-columns(10);
    }

    @media (min-width: $tablet-landscape) {
      @include width-by-columns(6);
      margin-bottom: $padding-lg * 2;
    }

    @media (min-width: $desktop-ml) {
      @include width-by-columns(4);
    }

    .btn {
      color: $white;
    }
  }

  #sidebar-result {
    @extend .ff-sans;
    @include font-size(1.6);
  }
}

.contact-social {
  h5 {
    margin-bottom: $padding-sm;

    @media (min-width: $tablet-landscape) {
      margin-bottom: $padding-lg;
    }
  }

  span {
    color: $white;
  }

  .share.share--social a {
    width: auto;
    height: auto;
  }

  .share.share--social,
  .share.share--social li {
    border-color: $white;
  }

  @media (min-width: $tablet-landscape) {
    .share.share--social {
      a {
        padding: 12px;
      }

      span:before {
        font-size: 20px;
        font-family: 'fontello';
      }

      span.icon-mail {
        &:before {
         font-size: 2.36rem;
         font-family: 'fontello';
        }
      }
    }
  }
}
