
    <section class="page404">
      <div class="page404_container">
        <h1>{{ page404.page404_title }}</h1>
        <div class="page404_container_copy">
          {{ page404.page404_subtitle }}
        </div>
        <div class="page404_container_links">
          <p>Try one of these pages:</p>
          {% set page404_links = page404.page404_links.all() %}
          {% if  page404_links|length %}
          <ul>
            {% for node in page404_links %}
            <li>
              <a href="{{ node.page404_link.getUrl() }}" class="button arrowType2" >{{node.page404_link.customText }}</a>
            </li>
            {% endfor %}
          </ul>
          {% endif %}
          </ul>
        </div>
      </div>
    </section>