
{% extends '_layout' %}
{% set isHome = true %}

{% block nav %}
  {% include 'includes/snippets/header' with {isHome: isHome} %}
{% endblock %}

{% block content %}

	<div class="home">
    {% for block in entry.homeBlocks.level(1).all() %}
        {% switch block.type.handle %}
            {% case 'heroType3' %}
              {% include 'v2/common/heroType3'  with { block: block } %}
            {% case 'heroType2' %}
              {% include 'v2/common/heroType2'  with { block: block } %}
            {% case 'latestNews' %}
              {% include 'v2/common/latestNews' with { block: block } %}
            {% case 'signUp' %}
              {% include 'v2/common/signUp'     with { block: block } %}
            {% case 'newsItems' %}
              {% include 'v2/common/newsItems'  with { block: block } %}
            {% case 'headerTitle' %}
              {% include 'v2/common/headerTitle'  with { block: block } %}
            {% case 'map' %}
              <div class="mapContainer">
                {% include 'vera-maps/_maptypesBlock'  with { block: block } %}
              </div>
            {% case 'HomeCharts' %}
              {% include 'v2/common/homeCharts'  with { block: block } %}            
        {% endswitch %}
    {% endfor %}

	</div>
{% endblock %}

