<div class="more">
  <div class="more-content">{{ shortcode.getContent() | raw }}</div>
  <label class="more-toggle-label">
    <button class="more-toggle"><img src="/dist/icons/more.svg"></button>
    Read More
  </label>
</div> 
