.home-content {
  background-color: var(--global-color-sand);
  width: 100%;
  position: relative;
  
  @media(max-width:$mobile-breakpoint) {
    max-width: 100%;
    padding: 30px 12px;
    overflow: hidden;
  }

  &-items {
    max-width: 1060px;
    margin: 0 auto;
    padding-bottom: 120px;

    @media (min-width:$tablet-landscape) {
      width: 1060px;
      margin: 0 calc(50% - 530px);
      min-width: 1060px;
      max-width: 100%;
    }

    .home-content-item {
      border-top: 1px solid var(--global-color-dark-sand);
      border-bottom: 1px solid var(--global-color-dark-sand);
      padding: 25px 0;
      display: flex;
      flex-direction: row;
      align-items: center;

      @media(max-width:$mobile-breakpoint) {
        flex-direction: column;
      }

      &-left {
        max-width: 550px;
        width: 100%;

        &-title {
          font-family: var(--global-font-abc-whyte);
          color: var(--global-color-text);
          font-size: 56px;
          font-style: normal;
          font-weight: 900;
          line-height: 69px;
          letter-spacing: 0em;
          text-align: left;
          padding-right: 2em;

          @media(max-width:$mobile-breakpoint) {
            font-size: 40px;
            line-height: 42px;
          }

          @media(max-width: $mobile-medium) {
            font-size: 25px;
            line-height: 30px;
          }
         
        }

        &-copy {
          margin-top: 13px;
          margin-bottom: 21px;
          font-family: var(--global-font-abc-whyte);
          color: var(--global-color-text);
          font-size: 21px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;

          @media(max-width:$mobile-breakpoint) {
            font-size: 19px;
            line-height: 26px;
          }
        }

        &-cta {
          @media(max-width:$mobile-breakpoint) {
            display: none;
          }
        }
      }

      &-right {
        padding-left: 2rem;
        width: 100%;

        @media(max-width:$mobile-breakpoint) {
          padding-left: 0rem;
        }

        &.vertical {
          display: flex;
          flex-direction: column;
        }

        &.horizontal {
          display: flex;
          flex-direction: row;
          align-items: center;
        }

        &-image {
          min-width: 50%;
          padding: 2rem;

          object {
            height: 100%;
            max-height: 200px;
            width: 100%;
          }

          img{
            box-sizing: border-box;
            max-height: 250px;
            min-height: 250px;
            object-fit: contain;
            margin: 0 auto;
            width: auto;

            @media (max-width: $mobile-breakpoint) {
              min-height: 230px;
              max-height: 230px;
            }
          }
        }

        &-copy {

          min-width: 50%;
          justify-content: center;
          box-sizing: border-box;
          align-items: flex-start;
          display: flex;
          flex-direction: column;


          p {
            font-family: var(--global-font-abc-whyte);
            color: var(--global-color-text);
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
          }

          h5 {
            font-family: var(--global-font-abc-whyte);
            color: var(--global-color-light-violet);
            font-size: 80px;
            font-style: normal;
            font-weight: 900;
            line-height: 86px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
            @media(max-width:$mobile-breakpoint) {
              font-size: 60px;
            }
          }
        }

      }

      &-cta {
        margin: 0 auto;
        padding: 2rem 0;
        display: inline-block;

        @media (max-width: $mobile-breakpoint){
          margin-top: 20px;
        }

        @media(min-width:$mobile-breakpoint) {
          display: none;
        }
      }
    }
  }

  .headTitle-content{
    position: relative;
    padding-top: 10rem;
  }

}

.home .achart{
  display: none;
}



.home .heroType2-title {
  margin-top: 184px;
  margin-bottom: 232px;
  z-index: 1;
}




.home{

  .latestNews-hero-copy{
    @media(max-width:$mobile-breakpoint){
      padding-bottom: 18px;
    }
  }
  
  .latestNews-hero-copy-title {
    margin-top: 20px !important;
    margin-bottom: 42px !important;
  }

  .sideItems-item-title{
    @media(max-width:$mobile-breakpoint){
      padding-top: 2px;
    }
  }

  .home-content-item {
    padding-top: 76px;
    padding-bottom: 87px;
  }

  .headTitle-content .headTitle-title .separator {
    margin-top: 90px;
  }

  .block-latestNews {
    position: relative;
    @media(max-width:$mobile-breakpoint){
      padding-bottom: 20px;
      padding-top: 0;
    }

    .block-latestNews-content{
      .latestNews-items{
        padding-top: 0px;
        a {
          &:first-child{
            @media(max-width:$mobile-breakpoint){
              margin: 7px 12px 20px 12px;
            }
          }
        }
        .latestNews-item-category{
          p {
            margin: 18px 0 18px 30px;
          }
        } 
      } 
      &.hasLink{
        .latestNews-items-link{
          padding-top: 55px;
          padding-bottom: 93px;
        }
      }
    }
  }
}


.home .heroType2-content {
  margin-top: -90px;
  padding: 48px;
  padding-bottom: 110px;
  position: relative;
  z-index: 1;

  @media(max-width:$mobile-breakpoint){
    margin-top: -96px;
    padding: 29px;
    width: 90%;
    padding-bottom: 30px;
  }
 

}

.home .home-content-item {
  @media(max-width:$mobile-breakpoint){
    padding-top: 45px;
    padding-bottom: 33px;
  }
}

.home-content-items .home-content-item-right-image {
  @media(max-width:$mobile-breakpoint){
    padding: 1rem;
  }
}
.home-content-items {
  @media(max-width:$mobile-breakpoint){
    padding-bottom: 18px;
  }
}

.home {
  .heroType2-title {
    @media(max-width:$mobile-breakpoint){
      margin-bottom: 60px;
      margin-left: 15px;
    }
  }
}

.home .latestNews-hero-container{
  margin-bottom: 70px;

  @media(max-width:$mobile-breakpoint) {
    margin-bottom: 3px;
  }
}

.home .home-content-item-left-copy {
  margin-top: 24px;
  margin-bottom: 35px;
}




.home .latestNews-item-copy-title{
  margin-top: 8px;
}

.home .latestNews-item-copy-date {
  margin-bottom: 15px;
}

.home .block-latestNews.-h{
  padding-bottom: 60px;
}




.home .js-scroll {
  @media(max-width:$mobile-breakpoint){
    opacity: 1;
    transition: opacity .5s;
  }
}


.home-content-items .home-content-item-left-title {
  font-size: 45px;
  line-height: 49.5px;
}
