.home-content {
  background-color: var(--global-color-sand);
  width: 100%;

  @media(max-width:$mobile-breakpoint) {
    max-width: 100%;
    padding: 30px 12px;
    overflow: hidden;
  }

  &-items {
    max-width: 1060px;
    margin: 0 auto;
    padding-bottom: 120px;

    .home-content-item {
      border-top: 1px solid var(--global-color-dark-sand);
      border-bottom: 1px solid var(--global-color-dark-sand);
      padding: 25px 0;
      display: flex;
      flex-direction: row;

      @media(max-width:$mobile-breakpoint) {
        flex-direction: column;
      }

      &-left {
        max-width: 550px;
        width: 100%;

        &-title {
          font-family: var(--global-font-abc-whyte);
          color: var(--global-color-text);
          font-size: 56px;
          font-style: normal;
          font-weight: 900;
          line-height: 69px;
          letter-spacing: 0em;
          text-align: left;

          @media(max-width:$mobile-breakpoint) {
            font-size: 40px;
            line-height: 42px;
          }

          @media(max-width: $mobile-medium) {
            font-size: 25px;
            line-height: 30px;
          }
         
        }

        &-copy {
          margin-top: 13px;
          margin-bottom: 21px;
          font-family: var(--global-font-abc-whyte);
          color: var(--global-color-text);
          font-size: 21px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;

          @media(max-width:$mobile-breakpoint) {
            font-size: 19px;
            line-height: 26px;
          }
        }

        &-cta {
          @media(max-width:$mobile-breakpoint) {
            display: none;
          }
        }
      }

      &-right {
        max-width: 430px;
        max-height: 330px;
        padding-left: 2rem;
        width: 100%;

        @media(max-width:$mobile-breakpoint) {
          padding-left: 0rem;
        }

        &.vertical {
          display: flex;
          flex-direction: column;
        }

        &.horizontal {
          display: flex;
          flex-direction: row;
        }

        &-image {
          min-width: 50%;
          padding: 2rem;

          object {
            height: 100%;
            max-height: 200px;
            width: 100%;
          }

          img{
            box-sizing: border-box;
            max-height: 300px;
            width: auto;
          }
        }

        &-copy {

          min-width: 50%;
          justify-content: center;
          box-sizing: border-box;
          align-items: flex-start;
          display: flex;
          flex-direction: column;


          p {
            font-family: var(--global-font-abc-whyte);
            color: var(--global-color-text);
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
            @media(max-width:$mobile-breakpoint) {
              font-size: 14px;
              line-height: 1.3rem;
            }
          }

          h5 {
            font-family: var(--global-font-abc-whyte);
            color: var(--global-color-light-violet);
            font-size: 80px;
            font-style: normal;
            font-weight: 900;
            line-height: 99px;
            letter-spacing: 0em;
            text-align: left;
            margin: 0;
            @media(max-width:$mobile-breakpoint) {
              font-size: 60px;
            }
          }
        }


      }

      &-cta {
        margin: 0 auto;
        padding: 2rem 0;
        display: inline-block;
        @media(min-width:$mobile-breakpoint) {
          display: none;
        }
      }
    }
  }

  .headTitle-content{
    padding-top: 10rem;
  }

}

.achart{
  display: none;
}



.home .heading {
    /* margin: 95px 0 0 160px; */
    margin: 115px 0;
    @media(max-width:$mobile-breakpoint){
      margin: 47px 0;
      font-size: 55px;
      padding: 15px;
    }
  }

  .home .headTitle-content--small{
    padding-top: 0;
    padding-bottom: 0;
  }

  .home .heroType3-content-line1 {
    margin-top: -5.5rem;
    @media(max-width:$mobile-breakpoint){
      margin-top: -1.5rem;
    }
}

.home .heroType3-content-line2 {
  display: block;
  position: absolute;
  color: white;
  background-color: var(--global-color-light-violet);
  height: 2px;
  width: 0;
  animation-name: test-animation;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  margin-bottom: -34.5rem;
  @media(max-width:$mobile-breakpoint){
    margin: 47px 0;
    font-size: 55px;
    margin-top: 17rem;
  }
}






.home .latestNews-hero-copy-title {
  margin-top: 15px !important;
  margin-bottom: 38px !important;
  @media(max-width:$mobile-breakpoint){
    margin-bottom: 30px !important;
  }
}

.home .block-latestNews{
  @media(max-width:$mobile-breakpoint){
    margin-top: 5px;
  }
}

.home .heroType2-title {
  margin-top: 178px;
  margin-bottom: 235px;
}

.home .heroType2-content{
  margin-top: -5.8%;
  padding: 48px;
  padding-bottom: 110px;
}

.home .latestNews-hero-copy{
  @media(max-width:$mobile-breakpoint){
    padding-bottom: 18px;
  }
}

.home .sideItems-item-title{
  @media(max-width:$mobile-breakpoint){
    padding-top: 2px;
  }
 
}


.home .home-content-item {
  padding-top: 75px;
  padding-bottom: 62px;
}

.home .block-latestNews {
  @media(max-width:$mobile-breakpoint){
    padding-bottom: 20px;
  }
}
.home .heroType2-content {
  @media(max-width:$mobile-breakpoint){
    margin-top: -25.8%;
    padding: 29px;
    width: 90%;
    padding-bottom: 30px;
  }
 
}

.home .home-content-item {
  @media(max-width:$mobile-breakpoint){
    padding-top: 45px;
    padding-bottom: 33px;
  }
}

.home-content-items .home-content-item-right-image {
  @media(max-width:$mobile-breakpoint){
    padding: 1rem;
  }
}
.home-content-items {
  @media(max-width:$mobile-breakpoint){
    padding-bottom: 50px;
  }
}

.home .heroType2-title {
  @media(max-width:$mobile-breakpoint){
    margin-bottom: 60px;
    margin-left: 15px;
  }

}

.home .latestNews-hero-container{
  margin-bottom: 70px;
}

.home .block-signup-form{
  @media(max-width:$mobile-breakpoint){
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
  }
}

.home .home-content-item-left-copy {
  margin-top: 15px;
  margin-bottom: 33px;
}

.home .block-signup .block-signup-container .block-signup-left {
min-height: 526px;

}

.home .block-signup .block-signup-container .block-signup-left:after {
  margin-bottom: 35px;
}

.home .headTitle-content .headTitle-title .separator {
  margin-top: 90px;
}

.home .block-latestNews-content .latestNews-items .latestNews-item-category p {
  margin: 18px 0 18px 30px;
}
.home .latestNews-item-copy-title{
  margin-top: 8px;
}

.home .latestNews-item-copy-date {
  margin-bottom: 15px;
}

.home .block-latestNews.-h{
  padding-bottom: 18px;
}

.home .heroType3{
  @media(max-width:$mobile-breakpoint){
    height: 29vh;
  }
}

.home .js-scroll {
  @media(max-width:$mobile-breakpoint){
    opacity: 1;
    transition: opacity .5s;
  }
}

.home .block-signup-left{
  position: absolute;
  width: calc(100% - 190px);
  left: 0;
}

.home .block-signup-right{
  position: absolute;
  z-index: 1;
  width: 190px;
  right: 0;
}

.home .block-signup .block-signup-container .block-signup-left {
  position: relative;
  margin-bottom: 35px;
  z-index: 2;
  @media(max-width:$mobile-breakpoint){
    margin-bottom: 0px;
    padding: 35px;
  }
}

.home .bck {
  width: 100%;
  position: absolute;
  background-color: #160643;
  left: 0;
  z-index: 0;
  height: 398px;
}

.home .button.orange span {
  font-size: 28px;
  @media(max-width:$mobile-breakpoint){
    font-size: 24px;
  }
}


.home .block-signup .block-signup-container .block-signup-left .block-signup-form input[type=email] {
  @media(max-width:$mobile-breakpoint){
    margin-bottom: 58px;
  }
}

.home .block-signup-form .button.orange.arrow {
  @media(max-width:$mobile-breakpoint){
    width: 148px;
    height: 60px;
  }
}

.home .home-content-items .home-content-item-left-title {
  font-size: 45px;
  line-height: 49.5px;
}


.home .block-signup-left.send-msg {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  position: relative;
  @media(max-width:$mobile-breakpoint){
    flex-direction: column;
    padding-left: 0 !important;
  }
}

.home 
  .socials{
    display: flex;
    justify-content: baseline;
    align-items: baseline;
    width: 100%;
    position: relative;
    @media(max-width:$mobile-breakpoint){
      flex-direction: column;
      width: auto;
      margin-left: -55px;
    }
  .donate-txt{
      min-width: 50%;
      padding-left: 110px;
      @media(max-width:$mobile-breakpoint){
        padding-left: 0px;
        margin-left: -20px;
      }
    }

  }
  .block-signup-title .message {
    min-width: 458px;
    border-right: 3px solid #160643;
    height: 315px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
    @media(max-width:$mobile-breakpoint){
      align-items: self-start;
      padding-left: 0;
      min-width: inherit;
      border: none;
      height: 190px;
    }
}
  
  .donate-txt p, .wrap-socials p{
    font-size: 26px;
    margin-bottom: 40px;
    @media(max-width:$mobile-breakpoint){
      font-size: 21px;
      margin-bottom: 26px;
    }
  }

  .home .wrap-socials p{
    @media(max-width:$mobile-breakpoint){
      margin-bottom: 49px;
      margin-top: 26px;
      margin-left: -55px;
    }
  }
    
  .home .list-social{
    display: flex;
    align-items: baseline;
    list-style: none;
    justify-content: space-between;
    @media(max-width:$mobile-breakpoint){
      margin-left: -55px;
    }
    a{
      svg{
        width: 45px;
        margin-right: 7px;
        padding: 0;
      }
    }
}

  .list-social button{
    border-style: none;
    background-color: transparent;

  }

  .home .wrap-socials{
    padding-left: 38px;
  }