.audioBlock {
  margin: 0 auto;
  max-width: 840px;
  width: 100%;
  height: 334px;
  display: flex;
  flex-direction: row;
  background-color: var(--global-color-dark-violet);
  background-image: -webkit-linear-gradient(360deg, var(--global-color-medium-violet) 291px, var(--global-color-dark-violet) 291px);
  box-sizing: border-box;
  margin-bottom: 30px;
  margin-top: 35px;

  @media(max-width:$mobile-breakpoint) {
    height: auto;
    padding: 0;
    flex-direction: column;
    background-image: -webkit-linear-gradient(0.75turn, var(--global-color-medium-violet) 50.1%, var(--global-color-dark-violet) 0);
    margin-right: 12px;
    margin-left: 12px;
    width: auto;
  }

  &-left {
    max-width: 220px;
    width: 220px;
    background-image: url('../../dist/img/audio-icon.svg');
    background-size: auto 100%;
    background-position: center center;
    background-repeat: no-repeat;

    @media(max-width:$mobile-breakpoint) {
      width: 100%;
      max-width: 100%;
      min-height: 125px;
      padding: 0;
      background-size: 100% auto;
      background-position: center center;
      background-image: url('../../dist/img/audio-icon-mobile.svg');
    }
  }

  &-right {
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 70px;
    padding-bottom: 49px;
    @media(max-width:$mobile-breakpoint) {
      padding: 0 20px 60px 20px;
    }

    &-c {
      max-width: 482px;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @media(max-width:$mobile-breakpoint) {
        max-width: 100%;
        width: 100%;
      }

      &-title {
        font-family: var(--global-font-abc-whyte);
        font-size: 26px;
        font-style: normal;
        font-weight: 500;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFF;
      }

      &-subtitle {
        font-family: var(--global-font-abc-whyte);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: left;
        margin-top: 16px;
        color: #FFF;
        @media(max-width:$mobile-breakpoint) {
          margin-bottom: 20px;
        }
      }

      .audio-player {
        width: 480px;
        margin: auto;
        margin-top: 32px;
        margin-bottom: 6px;

        @media(max-width:$mobile-breakpoint) {
          max-width: 480px;
          width: 100%;
        }

        .player-controls {
          position: relative;
          display: flex;
          justify-content: space-between;
          align-items: center;

          @media(max-width:$mobile-breakpoint) {
            width: 100%;
          }
        }

        p {
          margin: 0 0 0 5px;
          line-height: 1;
          display: inline-flex;

          @media(max-width:$mobile-breakpoint) {
            margin: 0 0 0 3px;
          }

          small {
            font-size: 10px;

            @media(max-width:$mobile-breakpoint) {
              font-size: 14px;
              font-style: normal;
              font-weight: 700;
              line-height: 23px;
              letter-spacing: 0em;
              text-align: left;
            }
          }
        }

        #seekObjContainer {
          position: relative;
          width: 295px;
          margin: 0 5%;
          height: 10px;

          @media(max-width:$mobile-breakpoint) {
            margin: 0 10px 0 5%;
            width: 50%;
          }

          #seekObj {
            position: relative;
            width: 100%;
            height: 100%;
            background-color: #e3e3e3;
            border: 1px solid black;

            #percentage {
              position: absolute;
              left: 0;
              top: 0;
              height: 100%;
              background-color: coral;
            }
          }
        }
      }
    }
  }
}