.block-listing {
  width: 100%;
  max-width: 1280px;
  background-color: yellow;
  margin: 0 auto;
  margin-bottom: 2rem;
  
  @media (max-width: $desktop-ml) {
    padding: 0 2rem;
  }
}

.block-listing-title {
  font-family: var(--global-font-sectra);
  color: var(--global-color-text);
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0em;
  text-align: left;
  margin-top: 50px;
  margin-bottom: 60px;
  
  @media(max-width: $tablet-landscape){
    margin: 2rem  0.5rem;
  }
}


.block-listing-content {
 /* margin: 2rem 0;*/
  column-gap: 0px;
  row-gap: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
/*
  @media(max-width: $tablet-landscape){
    margin: 2rem  0.5rem;
  }*/
  
  &:after {
    content: '';
    flex: auto;
    flex: 0 33%;
  }

  .block-listing-item {
    min-height: 214px;
    width: 400px;
    background-color: aqua;
    flex: 0 calc(33.3% + 14px);
    border-left: 0;
    border-right: 0;
    text-align: left;
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    color: var(--global-color-text);
    transition: all 0.2s ease-in-out;

    padding-left: 20px;
    padding-right: 20px;
    padding-top: 0px;
    padding-bottom: 0px;

    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -20px;
    margin-right: -20px;


    @media(max-width: $tablet-landscape){
      flex: 0 49%;
    }

    @media (max-width: $tablet-portrait) {
      flex: 0 99%;
    }


    &-tag {
      font-family: var(--global-font-abc-whyte);
      color: var(--global-color-red-2);
      font-size: 11px;
      font-style: normal;
      font-weight: 500;
      line-height: 21px;
      letter-spacing: 0.17em;
      text-align: left;
    }


    &-title {
      margin-top: 17px;
      p{
        padding: 0;
        font-family: var(--global-font-abc-whyte);
        color: var(--global-color-text);
        font-size: 19px;
        line-height: 21px;
        font-style: normal;
        font-weight: 500;
        text-decoration: none;
        background-image: linear-gradient(currentColor, currentColor);
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 2px;
        transition: background-size .9s;
        display: initial;
      }
    }


    &-subtitle {
      margin-top: 5px;
    }


    &-date {
      margin-top: 10px;
      font-family: var(--global-font-abc-whyte);
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 23px;
      letter-spacing: 0em;
      text-align: left;
      margin-top: auto;
    }

    .block-listing-item-wrap{
      padding-top: 25px;
      padding-bottom: 25px;
      border-left: 0;
      border-right: 0;
      min-height: 100%;
      box-shadow: 0 2px 0 var(--global-color-darker-sand) inset;
      justify-content: space-between;
      display: flex;
      flex-direction: column;
    }

    &:hover {
      color: var(--global-color-white);
      background-color: var(--global-color-red-2);
    
      .block-listing-item-wrap{
       box-shadow: 0 2px 0  var(--global-color-red-2) inset;
      }

      border-left: 0;
      border-right: 0;
      z-index: 1;


      .block-listing-item-title  {
        color: var(--global-color-white);
        background-size: 100% 2px;
        text-decoration: underline;
      }

      .block-listing-item-tag {
        color: var(--global-color-white);
      }
    }
  }
}

.block-listing-item:hover .block-listing-item-title p{
  color: #fff;
}