.copy-block-container{
  background-color: var(--global-color-sand);
  padding: 30px 0;
  &::selection {
    background: #EF4136;
    color:#FFF;
  }

  &::-moz-selection { /* Code for Firefox */
    background: #EF4136;
    color:#FFF;
  }

  .copy-block-content{
    max-width: $max-copy;
    color: var(--global-color-text);
    font-family: var(--global-font-abc-whyte);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 139%;
    margin: 0 auto;

    p {
      margin-bottom: 2rem;
      &.intro{
        font-size: inherit;
        margin-bottom: 0;
      }
     }

    p::selection {
      background: #EF4136 !important;
      color:#FFF  !important;
    }
    
    &::selection {
      background: #EF4136 !important;
      color:#FFF  !important;
    }


    @media(max-width:$mobile-breakpoint) {
      padding: 0 1rem;
      p{
        display: inline-block;
      }
    }


    figure + h5{
      margin-top: 6rem;
      padding:0;
    }

    .copy-block-title{
      margin: 0;
      font-family: var(--global-font-sectra);
      color: var(--global-color-dark-violet);
      font-style: normal;
      font-weight: bold;
      font-size: 45px;
      line-height: 110%;
      margin-bottom: 1rem;
    }


    @import "copy-format.scss";
  

  }
}

