.copy-block-container {
  background-color: var(--global-color-sand);
  padding: 0;

  &::selection {
    background: #EF4136;
    color: #FFF;
  }

  &::-moz-selection {
    /* Code for Firefox */
    background: #EF4136;
    color: #FFF;
  }

  .copy-block-content {
    margin: 0 auto;
    margin-top: 15px;
    max-width: $max-copy;
    color: var(--global-color-text);
    font-family: var(--global-font-abc-whyte);
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 139%;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }

    @media(max-width:$mobile-breakpoint) {
      margin: 0;
    }

    @import "copy-format.scss";
  }
}

.copy-block-container+.relatedItems-container {
  margin-top: 45px;
}

.copy-block-container+.banner-block-container {
  padding-top: 60px;
}

.headTitle+.copy-block-container {
  padding-top: 50px;
}

.heroType1-container+.copy-block-container {
  margin-top: 60px;
}

.copy-block-container+.featured-type2 {
  margin-top: 60px;

  @media(max-width:$mobile-breakpoint) {
    margin-top: 30px;
  }
}

.featured-type2+.copy-block-container {
  margin-top: 0;
}


.copy-block-container+.copy-twoColumns {
  margin-top: 30px;
}


.shareIcons+.copy-block-container {
  margin-top: 50px;
}


.copy-block-container+.headTitle {
  @media(max-width:$mobile-breakpoint) {
    margin-top: 54px;
  }
}

.copy-block-container .copy-block-content figure {
  @media(max-width:$mobile-breakpoint) {
    margin-bottom: 20px;
  }
}

.copy-block-content {
  @media(max-width:$mobile-breakpoint) {
    figure + p {
      margin-top: 40px;
    }
  }
}