.dataviz{
  .endorsers-wrap{
    width: 100%;
    margin: 0 auto;
    .endorsers-module{
      justify-content: center;
      padding: 40px 200px;

      @media(max-width: $tablet-landscape){
        padding: 40px;
      }
    }
  }
}