.block-exploreMore {
  width: 100%;
  background-color: #0f002c;
  padding: 0 1.5rem;

  @media (max-width: $desktop-ml) {
    padding: 0 2rem;
  }

  @media (max-width: $tablet-portrait) {
    padding: 0 2rem;
  }


  .block-exploreMore-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 55px 0 30px 0;
    overflow: hidden;

    .block-exploreMore-title {
      display: table;
      white-space: nowrap;
      font-family: var(--global-font-sectra);
      color: #FFF;
      font-size: 35px;
      font-style: normal;
      font-weight: 600;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: left;
      overflow: hidden;

      @media (max-width: $tablet-portrait) {
        margin-bottom: 3rem;
      }

      &:after {
        overflow: hidden;
        border-top: 2px solid var(--global-color-light-violet);
        content: '';
        display: table-cell;
        position: relative;
        top: 0.55em;
        width: 100%;
      }

      &:after {
        left: 1.5%;
      }
    }

    .block-exploreMore-items {
      display: flex;
      flex-direction: row;
      margin: 0;
      padding: 0;
      /* column-gap: 40px; */
      row-gap: 40px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      height: 100%;
      margin: 0px;
      margin-top: 52px;
      column-count: 2;
      @media (max-width: $tablet-portrait) {
        column-gap: 20px;
        row-gap: 20px;
      }

      li {
        display: flex;
        align-items: stretch;
        list-style-type: none;
        flex: 0 45.4387%;
        /*height: 33%;*/

        @media (max-width: $tablet-portrait) {
          flex: 0 45%;
          row-gap: 20px;
        }

        @media (max-width: $mobile-large) {
          flex: 0 99%;
          row-gap: 20px;
        }

        a {
          line-height: 0px;
          justify-content: safe;
          align-items: center;
          font-family: var(--global-font-abc-whyte);
          font-size: 21px;
          font-style: normal;
          line-height: 29px;
          font-weight: 500;
          width: 100%;
          padding: 1.2rem 20px;
          text-align: left;
          min-height: 80px;
          display: flex;
          color: var(--global-color-white);
          background-color: #2E1D97;
          border-left: 2px solid var(--global-color-mint);
          text-decoration: none;
          transition: all 0.15s $ease-nice;
    
          @media (max-width: $tablet-landscape) {
            min-height: 90px;
          }

          @media (max-width: $tablet-portrait) {
            min-height: 90px;
          }

          @media (max-width: $mobile-large) {
            min-height: inherit;
          }

          &::before {
            content: '';
            height: auto;
            display: flex;
            justify-content: center;
            align-items: center;
          }

          .icon-arrow {
            width: 20px;
            height: 20px;
            margin-left: 12px;
            display: inline-flex;
            align-items: center;
            background-repeat: no-repeat;
            background-size: inherit;
            background-image: url("../img/v2/arrow.svg");
            position: relative;
            top: 7px;
          }

          &:hover {
            background-color: var(--global-color-red-2);
            text-decoration: underline;
            border-left: 2px solid var(--global-color-mint);
            .icon-arrow {
              background-image: url("../img/v2/arrow-white.svg");
            }
          }
        }
      }

      &--violet {
        li {
          a {
            border-left: 2px solid var(--global-color-mint);
            background-color: var(--global-color-violet);
          }
        }
      }
    }

  }
}