.headTitle {
  width: 100%;
  overflow: hidden;
  background-color: var(--global-color-dark-violet);


  &--small{
    height: inherit;
    .headTitle-content{
      padding-top: 30px;
      padding-bottom: 0px;
      .headTitle-title {
        .separator {
          &:before {
            bottom: 1rem;
          }
          span{
            font-size: 35px;
            line-height:35px;
            @media (max-width: $mobile-breakpoint) {
              font-size: 26px;
              line-height: 31.98px;
              font-weight: 700;
              max-width: 50%;
              white-space: normal;
            }          
          }
        }

        .separator-hide{
          &:before {
            display: none !important;
          }
        }
      }
    }
  }

  &--news{
    height: inherit;
    .headTitle-content{
      padding-bottom: 0px;
      padding-top: 60px;
      .headTitle-title {
        .separator {
          &:before {
            bottom: 1rem;
          }
          span{
            font-size: 35px;
            line-height:35px;
            @media (max-width: $mobile-breakpoint) {
              font-size: 26px;
              line-height: 31.98px;
              font-weight: 700;
              max-width: 50%;
              white-space: normal;
            }
          }
        }
        .separator-hide{
          &:before {
            display: none !important;
          }
        }
      }
    }
  }

  &-content{
    max-width: $desktop-ml;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 80px;
    overflow: visible;


    .headTitle-breadcrumb {
      text-align: left;
      margin-left: 12px;
      color:#FFF;
      font-family: var(--global-font-abc-whyte);
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      letter-spacing: 0.17em;
      margin-bottom: 4px;

      a {
        font-family: var(--global-font-abc-whyte);
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.17em;
        text-align: center;
        text-transform: uppercase;
        color: var(--global-color-mint);
        text-decoration: none;
        margin: 0;
        padding: 0;
        &:hover{
          text-decoration: underline;
          background-color: #ea2626;
          color:#FFF;
        }
      }

      @media(max-width:$mobile-breakpoint) {
        display: none;
      }
    }


    .headTitle-title {
      color: white;
      $separator-padding: 0 10px;

      .separator {
        overflow: visible;
        position: relative;
        text-align: center;
        text-align: left;
        margin-left: 12px;
        &:before {
          content: "";
          display: inline-block;
          position: absolute;
          bottom: 3rem;
          left: 0;
          animation-name: test-animation;
          animation-duration: 8s;
          background-color: var(--global-color-light-violet);
          width: 100vw;
          height: 2px;
        }
        @keyframes test-animation {
          from {
              width:0px;
          }
      
          to {
              width: 100vw ;
          }
        }
        span {
          position: relative;
          padding-right: 1rem;
          display: inline;
          max-width: 80%;
          background-color: var(--global-color-dark-violet);
          white-space: nowrap;
          font-family: var(--global-font-sectra);
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: 69px;
          letter-spacing: 0em;
          text-align: left;
          box-sizing: content-box;
            @media (max-width: $mobile-large) {
              font-size: 26px;
              line-height: 31.98px;
              font-weight: 700;
              max-width: 50%;
              white-space: normal;
            }
        } 
      }
    }

    &--small {
      padding-top: 60px;
      padding-bottom: 25px;
 
      .headTitle-title {
        margin-top: 30px;

        .separator {

          @media (max-width: $mobile-large) {
            margin-bottom: 0;
          }

          &:before {
            bottom: 1rem;
          }
          span{
            font-size: 35px;
            line-height:35px;
            @media (max-width: $mobile-breakpoint) {
              font-size: 26px;
              line-height: 31.98px;
              font-weight: 700;
              max-width: 50%;
              white-space: normal;
            }          
          }
        }
        .separator-hide{
          &:before {
            display: none !important;
          }
        }
      }
    }
  } 
}
