.headTitle {
  width: 100%;
  overflow: hidden;


  &--small{
    height: inherit;

    .headTitle-content{
      padding-top: 30px;
      padding-bottom: 0px;
      .headTitle-title {
        .separator {
          &:before {
            bottom: 1rem;
          }
          span{
            font-size: 35px;
            line-height:35px;
          }
        }
      }
    }
  }
  
  &-content{
    max-width: $desktop-ml;
    margin: 0 auto;
    padding-top: 67px;
    padding-bottom: 80px;
    overflow: visible;

    .headTitle-breadcrumb{
      font-family: var(--global-font-abc-whyte);
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      color: white;
      letter-spacing: 0.17em;
      text-align: left;
      margin-bottom: 20px;
      text-transform: uppercase;
      margin-left: 10px;
      a{
        color: #ABFFEB;
      }
    }

    .headTitle-title {
      color: white;
      $separator-padding: 0 10px;
      .separator {
        overflow: visible;
        position: relative;
        text-align: center;
        text-align: left;
        margin-left: 10px;
        &:before {
          content: "";
          display: inline-block;
          /* width: 10000px; */
         /*  height: 1px; */
         /*  border-top: 2px solid var(--global-color-light-violet); */
          position: absolute;
          bottom: 3rem;
          left: 0;
          animation-name: test-animation;
          animation-duration: 8s;
          background-color: var(--global-color-light-violet);
          width: 100vw;
          height: 2px;
        }
        @keyframes test-animation {
          from {
              width:0px;
          }
      
          to {
              width: 100vw ;
          }
      }
        span {
          position: relative;
          padding-right: 1rem;
          display: inline;
          max-width: 80%;
          background-color: var(--global-color-dark-violet);
          white-space: nowrap;
          font-family: var(--global-font-sectra);
          font-size: 60px;
          font-style: normal;
          font-weight: 700;
          line-height: 69px;
          letter-spacing: 0em;
          text-align: left;
          box-sizing: content-box;
          @media (max-width: $mobile-large) {
            font-size: 30px;
            line-height:35px;
            max-width: 50%;
            white-space: normal;
          }
        } 
      }
    }

    &--small{
      padding-top: 25px;
      padding-bottom: 25px;
      .headTitle-title {
        .separator {
          &:before {
            bottom: 1rem;
          }
          span{
            font-size: 35px;
            line-height:35px;
          }
        }
      }
    }
  }
}