.underline {
  position: relative;
  z-index: 1;
  &::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: -.5rem;
    right: -1.5rem;
    height: 20px;
    z-index: -1; //behind the testalign-content
    background-repeat: no-repeat;
    background-size: cover; // allows for word fit
    background-image: url("../../dist/img/v2/brushstroke.svg");
  }  
}

.underline2 {
position: relative;
z-index: 1;  
&::after {
  content: '';
  bottom: -2.5rem;
  height: 4rem;
  left: -0.5rem;
  right: -1.6rem;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 90%;
  position: absolute;
  z-index: -1; 
  background-image: url("../../dist/img/v2/brushstroke-02.svg");
  animation-name: test-text3;
  animation-duration: 3s;
  animation-fill-mode: forwards;
  @media (max-width: $tablet-portrait) {
    height: 1rem;
    bottom: -0.1rem;
  }
}
}

@keyframes test-text3 {
  0% {
    -webkit-transform: translateX(-100px);
    transform: translateX(-100px);
    /* opacity: 0; */
    width: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    width: 100%;
    /* opacity: 1; */

  }
}