.heroType3 {
  background-color: var(--global-color-dark-violet);
  transition: all 0.2s ease-in-out;
  &-content{
    position: relative;
    min-height: 605px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    @media(max-width:$mobile-breakpoint) {
      min-height: 250px;
    }
    &-title{
      max-width: 740px;
      margin-left: 40px;

      h1{
        font-style: normal;
        font-weight: bold;
        font-size: 160px;
        line-height: 115%;
        font-family: var(--global-font-sectra);
        position: relative;
        z-index: 1;
        color: white;
       /*  animation-name: test-text;
        animation-duration: 1s;
        animation-fill-mode: forwards; */
        @media(max-width:$mobile-breakpoint){
          font-size: 55px;
          line-height: 107%;
        }
/*         span{
          animation-name: test-text2;
          animation-duration: 2s;
          animation-fill-mode: forwards;
        } */
      }
  
    }

    &-line1{
      display: block;
      position: absolute;
      background-color: var(--global-color-light-violet);
      color: white;
      height: 2px;
      width: 0;
      margin-top: -9.5rem;
      animation-name: test-animation;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      @media(max-width:$mobile-breakpoint){
        margin-top: -1rem;
      }
    }
    &-line2{
      display: block;
      position: absolute;
      color: white;
      background-color: var(--global-color-light-violet);
      height: 2px;
      width: 0;
      margin-bottom: -30.5rem;
      animation-name: test-animation;
      animation-duration: 3s;
      animation-fill-mode: forwards;
      @media(max-width:$mobile-breakpoint){
        margin-top: -18rem;
      }
    }
    &-line3{
      display: block;
      position: absolute;
      background-color: var(--global-color-light-violet);
      height: 100%;
      width: 2px;
      top: 0;
      right: 80px;
      @media(max-width:$mobile-breakpoint){
        display: none;
      }
    }
    &-line4{
      display: block;
      position: absolute;
      background-color: var(--global-color-light-violet);
      height: 110px;
      width: 2px;
      top: 0;
      right: 50%;
      @media(max-width:$mobile-breakpoint){
        height: 49px;
      }
    
    }
  }
}

/* @keyframes test-animation {
  from {
      width:0px;
  }

  to {
      width: 100vw ;
  }
} */

/* @keyframes test-text {
  from {
      top:33px;
      opacity: 0;
  }

  to {
    top:0;
    opacity: 1;
  }
} */

/* @keyframes test-text {
  0% {
    -webkit-transform: translateX(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes test-text2 {
  0% {
    -webkit-transform: translateX(30px);
    transform: translateY(30px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateY(0);
    opacity: 1;
  }
} */

/* Animación home */

.heading {
  /* margin: 95px 0 0 160px; */
  margin: 95px 0;
  font-size: 100px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  flex-direction: column;
  font-family: var(--global-font-sectra);
  font-style: normal;
  font-weight: bold;
  font-size: 160px;
  line-height: normal;
  color: #fff;
  @media(max-width:$mobile-breakpoint){
    margin: 47px 0;
    font-size: 55px;
    padding: 15px;
  }
}

.heading img{
  height: 31px;
}
.heading > div {
  overflow: hidden;
}
.heading > div > p {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  white-space: nowrap;
  margin: 0;
  line-height: normal;
  margin-bottom: 0;
}

.green {
  color: #fff;
}

div.heading > div {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
div.heading > div:nth-child(2) > p {
  -webkit-animation-delay: 0.05s;
          animation-delay: 0.05s;
}

/* .div.heading>div:nth-child(3)>:before {
  content: '';
  bottom: -15px;
  height: 4rem;
  left: -0.5rem;
  right: -1.6rem;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center;
  background-size: inherit;
  position: absolute;
  z-index: -1; 
  background-image: url("../../dist/img/v2/brushstroke-02.svg");
}
 */
div.heading > div {
  -webkit-animation-delay: 0;
          animation-delay: 0;
}
div.heading > div:nth-child(3) > p {
  -webkit-animation-delay: 0.075s;
          animation-delay: 0.075s;
}

.slide-up {
  -webkit-animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: slide-up 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}


.stroke {
  -webkit-animation: stroke 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
          animation: stroke 0.9s cubic-bezier(0.65, 0, 0.35, 1) both;
}



@keyframes stroke {
  0% {
    width: 0;
    position: relative;
    top: -30px;
    opacity: 0;
  }
  100% {
    width: 340px;
    position: relative;
    top: -30px;
    opacity: 1;
  }
}


.slider-home {
  position: absolute !important;
  top: 0;
  margin: 0 !important;
}

.slider-home .swiper-slide{
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
}



.slider-home .swiper-slide img{
  height: 70px !important;
}

/* .heroType3{
  .swiper {
    width: 100%;
    max-width: 1280px;
}
} */

.home-slider-content{
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    margin: 0 auto;
}