.heroType1-container {
  background-color: var(--global-color-violet);
  height: 519px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-origin: border-box;
  position: relative;
  background-position: 100% center;


  @media (max-width: $desktop-ml) {
    background-size: cover;
    background-position: center center;
  }

  @media (max-width: $tablet-landscape) {
    background-size: cover;
    background-position: center center;
  }

  @media (max-width: $tablet-portrait) {
    padding: 15px;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    justify-content: flex-start;
    height: 600px;
  }

  @media(max-width: $mobile-large) {
    padding: 15px;
    background-size: cover;
    background-position-x: center;
    background-position-y: bottom;
    height: 400px;
  }

  @keyframes slideToRight {
    0% {
      width:0px;
      opacity: 0;
    }
    10%{
      opacity: 1;
    }
    100% {
      width:402px;
      opacity: 1;
    }	
  }

  .heroType1-block-bg{
    background-color: var(--global-color-violet);
    max-width: 402px;
    height: 100%;
    width: 100%;
    opacity: 0;
    position: absolute;
    z-index: 1;
    animation: slideToRight 1.5s ease 1.5s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;

    @media(max-width: $mobile-large) {
      display: none;
    }
  }

  .heroType1-block-box {
    background-color: var(--global-color-dark-violet);
    color: #FFF;
    width: 590px;
    min-height: 377px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 86px;
    padding-bottom: 130px;
    padding-right: 30px;
    z-index: 2;

    @media(max-width: $mobile-large) {
      min-height: auto;
      padding-top: 50px;
      padding-bottom: 90px;
    }

    &-content {
      margin-left: 80px;

      @media (max-width: $tablet-portrait) {
        margin-top: 0;
        margin: 1rem 3rem;
      }

      .heroType1-block-breadcrumbs {
        letter-spacing: 0.17em;
        text-transform: uppercase;
        font-family: var(--global-font-abc-whyte);
        font-style: normal;
        font-weight: normal;
        text-transform: uppercase;
        font-size: 11px;
        line-height: 186.5%;

        a {
          color: var(--global-color-mint);
          text-decoration: none;
        }

        @media (max-width: $tablet-portrait) {
          display: none;
        }
      }

      .heroType1-block-title {
        margin-top: 24px;

        h1 {
          margin: 0;
          font-family: var(--global-font-sectra);
          font-weight: bold;
          font-size: 60px;
          line-height: 115%;

          @media (max-width: $tablet-portrait) {
            font-size: 38px;
          }
        }
      }
    }

    @media (max-width: $tablet-portrait) {
      width: auto;
    }
  }
}

.exploreLinks{
  background: #0E002C;
  width: 100%;
  padding: 38px 80px;
  @media(max-width: $mobile-large) {
    padding: 40px 54px;
  }
  
  &-container{
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;

    &-items{

     @media(max-width: $mobile-large) {
      display: flex;
      flex-direction: column;
     }

      &-title{
        font-size: 14px;
        font-weight: 400;
        font-family: var(--global-font-abc-whyte);
        color:#FFF;
        min-width: 131px;
        display: inline-block;
        word-break: break-word;
        @media(max-width: $mobile-large) {
          margin-bottom: 30px;
         }
      }

      a{
        color: var(--global-color-mint);
        font-family: var(--global-font-abc-whyte);
        font-weight: 700;
        text-decoration: none;
        word-break: break-word;
        font-size: 14px;
        margin-bottom: 10px;
        line-height: 28px;
        @media(max-width: $mobile-large) {
         margin-bottom: 30px;
         line-height: 20px;
        }

        &:hover{
          background-color:#DA392F;
          color:#FFF;
          text-decoration: underline;
        }
      }
      span{
        word-break: break-word;
        color:#FFF;
        margin: 0 23px;
        margin-bottom: 10px;
        @media(max-width: $mobile-large) {
          display: none;
        }

        &:last-child{
          display: none;
        }
      }
    }
  }
}
