.hero-type4 {
  background-color: var(--global-color-sand);
  transition: all 0.2s ease-in-out;
  margin-bottom: 40px;

  &-content{
    position: relative;
    padding-top: 150px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    @media(max-width:$mobile-breakpoint) {
      min-height: 250px;
    }
    &-copy{
      max-width: 840px;
      width: 100%;
      margin: 0 auto;
      padding-bottom: 0px;

      @media(max-width:$mobile-breakpoint) {
        padding: 0 12px;
      }

     
      &-breadcrumbs{
        text-align: left;
        margin-bottom: 22px;
        font-size: 11px;
        font-style: normal;
        font-weight: 500;
        text-align: left;
        line-height: 12px;
        letter-spacing: 0.17em;
        text-transform: uppercase;
        font-family: var(--global-font-abc-whyte);
        color: #0a0319;

        a {
          font-size: 11px;
          font-style: normal;
          font-weight: 500;
          text-align: left;
          line-height: 12px;
          letter-spacing: 0.17em;
          text-transform: uppercase;
          font-family: var(--global-font-abc-whyte);
        }
      }

      h1{
        color: var(--global-color-text);
        font-family: var(--global-font-sectra);
        position: relative;
        z-index: 1;
        font-size: 60px;
        font-style: normal;
        font-weight: 700;
        line-height: 69px;
        letter-spacing: 0em;
        text-align: left;
        display: block;

        @media(max-width:$mobile-breakpoint){
          font-size: 38px;
          line-height: 43.7px;
        }
      }

      .subtitle{
        display: block;
        margin-top: 20px;
        font-family: var(--global-font-abc-whyte);
        color: var(--global-color-text);
        font-size: 40px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0em;
        text-align: left;
        @media(max-width:$mobile-breakpoint){
          font-size: 28px;
          font-style: normal;
          font-weight: 400;
          line-height: 35.76px;
        }
      }

      .authors{
        margin-top: 20px;
        font-family: var(--global-font-abc-whyte);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 23px;
        letter-spacing: 0em;
        text-align: left;
        .profile-name{
          font-weight: 700;
          color: #0A0319;
          text-decoration: underline;
          text-decoration-color: #DA392F;
          text-underline-offset: 2px;
        }
      }

      .date{
        margin-top: 2rem;
        font-family: var(--global-font-abc-whyte);
        font-size: 14px;
        line-height: 14px;
        font-style: normal;
        font-weight: 400;
        letter-spacing: 0em;
        text-align: left;
        padding: 0;
      }
  
    }

    &-line1{
      display: block;
      position: absolute;
      background-color: var(--global-color-dark-sand);
      top: 57px;
      animation-name: test-animation;
      animation-duration: 4s;
      animation-fill-mode: forwards;
      background-color: var(--global-color-dark-sand);
      width: 0;
      height: 2px;

      @media(max-width:$mobile-breakpoint){
        margin-top: -2rem;
      }
    }
  
    &-line2{
      display: block;
      position: absolute;
      background-color: var(--global-color-dark-sand);
      height: 110px;
      width: 2px;
      top: 0;
      right: 109px;
      @media(max-width:$mobile-breakpoint){
        display: none;
      }
    }
    &-line3{
      display: block;
      position: absolute;
      background-color: var(--global-color-dark-sand);
      height: 100%;
      width: 2px;
      top: 0;
      left: 115px;
      @media(max-width:$mobile-breakpoint){
        display: none;
      }
    }
    &-line4{
      display: block;
      position: absolute;
      background-color: var(--global-color-dark-sand);
      height: 110px;
      width: 2px;
      top: 0;
      right: 50%;
      @media(max-width:$mobile-breakpoint){
        height: 49px;
      }
    
    }
  }
}

@keyframes test-animation {
  from {
      width:0px;
  }
  to {
      width: 100vw;
  }
}