.inPageCTA {
  &-container{
    min-height: 613px;
    max-width: 1441px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    background-color: var(--global-color-medium-violet);
    background-image: -webkit-linear-gradient(180deg, var(--global-color-violet) 27.1%, var(--global-color-medium-violet) 27.1%);
    overflow: hidden;
    box-sizing: border-box;
    justify-content: space-between;
    align-content: center;
  }
  &-text{
    padding: 84px 111px 84px 114px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    color: #FFF;
    max-width: 1066px;
    position: relative;
    &-title{
      font-family: var(--global-font-abc-whyte);
      font-size: 80px;
      font-style: normal;
      font-weight: 900;
      line-height: 97.6px;
      letter-spacing: 0em;
      text-align: left;
      color: #FFF;
      margin-bottom: 0;
      @media (max-width: $tablet-portrait) {
        font-size: 45px;
        line-height: 49.5px;
        br{
          display: none;
        }
      }
      @media(max-width:$mobile-breakpoint) {
        margin-top: 80px;
      }
    }
    &-subtitle{
      font-family: var(--global-font-abc-whyte);
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 33.8px;
      letter-spacing: 0em;
      text-align: left;
      padding-top: 12px;
      padding-bottom: 47px;
      color: #FFF;
      @media (max-width: $tablet-portrait) {
        br{
          display: none;
        }
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: 40px;
      }
    }
  }

  
  &-image{
    width: 50%;
    overflow: hidden;
    text-align: right;
    padding: 84px 0 0 0;
      img {
        width: 100%;
      }
  }
}