.block-latestNews {
  align-items: center;
  background-color: var(--global-color-dark-violet);
  color: var(--global-color-white);
  width: 100%;
  box-sizing: border-box;
  padding: 2rem 0.1rem;

  &-content {
    max-width: 1280px;
    box-sizing: border-box;
    margin: 0;
    width: 100%;
    margin: 0 auto;

    @media(max-width:$mobile-breakpoint) {
      padding: 0 11px;
    }

    .latestNews-title {
      display: table;
      white-space: nowrap;
      font-family: var(--global-font-sectra);
      font-size: 35px;
      font-style: normal;
      font-weight: 700;
      line-height: 42px;
      letter-spacing: 0em;
      text-align: left;
      overflow: hidden;


      @media (max-width: $tablet-landscape) {
        padding: 0 2rem;
      }

      &:after {
        border-top: 2px solid var(--global-color-light-violet);
        content: '';
        display: table-cell;
        position: relative;
        top: 0.55em;
        width: 100%;
      }

      &:after {
        left: 1.5%;
      }
    }

    .latestNews-hero {
      box-sizing: border-box;
      width: 100%;

      .latestNews-hero-container {
        display: flex;
        flex-direction: row;
        padding-top: 2rem;
        padding: 50px 0;
        background-color: var(--global-color-medium-violet);
        background-image: -webkit-linear-gradient(180deg, var(--global-color-violet) 40.1%, var(--global-color-medium-violet) 40.1%);
        overflow: hidden;
        width: 100%;
        box-sizing: border-box;
        transition: all 0.5s ease-in-out;

        &:hover {
          background-image: -webkit-linear-gradient(180deg, #da392f 40.1%, var(--global-color-medium-violet) 40.1%);

          .latestNews-hero-copy {}
        }

        @media (max-width: $tablet-landscape) {
          background-image: -webkit-linear-gradient(180deg, var(--global-color-violet) 30.1%, var(--global-color-medium-violet) 30.1%);
        }

        @media (max-width: $tablet-portrait) {
          flex-direction: column;
          flex-direction: column-reverse;
          padding-top: 0;
          padding-bottom: 25px;
          background-image: -webkit-linear-gradient(180deg, var(--global-color-medium-violet) 30.1%, var(--global-color-medium-violet) 30.1%);
        }

        .latestNews-hero-copy {
          display: flex;
          justify-content: center;
          flex-direction: column;
          color: var(--global-color-white);
          padding-left: 80px;
          padding-right: 50px;
          width: 50%;
          transition: all 0.2s ease-in-out;
          margin-top: 1.5rem;
          margin-bottom: 1.5rem;

          @media (max-width: $tablet-landscape) {
            width: 60%;
            padding-left: 50px;
            padding-right: 30px;
          }

          @media (max-width: $tablet-portrait) {
            width: 100%;
          }

          &-category {
            font-family: var(--global-font-abc-whyte);
            color: var(--global-color-mint);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.17em;
            text-align: left;
          }

          &-title {
            font-family: var(--global-font-sectra);
            margin-top: 30px;
            margin-bottom: 40px;

            h4 {
              font-size: 45px;
              font-style: normal;
              font-weight: 700;
              line-height: 115%;
              letter-spacing: 0em;
              text-align: left;
              margin: 0;
              font-family: var(--global-font-sectra);
              margin-bottom: 1.5rem;
              background-image: linear-gradient(currentColor, currentColor);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 2px;
              transition: background-size .9s;
              display: initial;
              color: #fff;

              @media (max-width: $tablet-landscape) {
                font-size: 35px;
                line-height: 42px;
              }

              &:hover {
                span {
                  background-size: 100% 2px;
                  color: #fff;
                }
              }
            }

            span {
              text-decoration: none;
              color: var(--global-color-white);
              display: block;
              margin-bottom: 1.5rem;

              h4 {
                margin: 0;
                font-family: var(--global-font-sectra);
                color: var(--global-color-white);
                font-size: 45px;
                font-style: normal;
                font-weight: 700;
                line-height: 115%;
                letter-spacing: 0em;
                text-align: left;
                margin-bottom: 30px;
                margin-top: 20px;

                @media (max-width: $tablet-landscape) {
                  font-size: 35px;
                  line-height: 42px;
                }
              }
            }

          }

          &-excerpt p {
            margin: 0;
            font-family: var(--global-font-abc-whyte);
            font-size: 21px;
            font-style: normal;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
            text-align: left;

            @media (max-width: $tablet-landscape) {
              font-size: 17px;
              line-height: 24px;
            }
          }

          &-date p {
            margin: 0;
            font-family: var(--global-font-abc-whyte);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
            margin-top: 40px;
          }

        }

        .latestNews-hero-image {
          width: 50%;
          overflow: hidden;
          text-align: right;

          @media (max-width: $tablet-landscape) {
            width: 40%;
          }

          @media (max-width: $tablet-portrait) {
            width: 100%;
            margin-bottom: 2rem;

            img {
              width: 100%;
            }
          }
        }
      }
    }

    .latestNews-items {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-top: 2rem;
      padding-bottom: 5.5rem;

      @media (max-width: $tablet-portrait) {
        flex-direction: column;
      }

      .latestNews-item {
        display: flex;
        flex-direction: column;
        background-color: var(--global-color-medium-violet);
        color: var(--global-color-white);
        width: 400px;
        min-height: 550px;
        row-gap: 0px;
        transition: all 0.2s ease-in-out;

        @media (max-width: $tablet-portrait) {
          width: 100%;
          margin-top: 20px;
        }
        &-category {
          p {
            margin: 20px 0 20px 30px;
            font-family: var(--global-font-abc-whyte);
            color: var(--global-color-mint);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.17em;
            text-align: left;

          }
        }

        &-image {
          min-height: 263px;
          background-size: cover;
          background-position: center center;
          background-repeat: no-repeat;
        }

        &-copy {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: space-between;
          flex: 1;
          margin: 20px 30px;


          @media(max-width:$mobile-breakpoint) {
            margin: 30px;
          }
          /*margin: 30px 30px 30px 30px;*/
          
          &-title {
            font-family: var(--global-font-abc-whyte);
            font-size: 26px;
            font-style: normal;
            font-weight: 500;
            line-height: 33px;
            letter-spacing: 0em;
            text-align: left;
            text-decoration: none;
            color: white;
            span {
              background-image: linear-gradient(currentColor, currentColor);
              background-position: 0% 100%;
              background-repeat: no-repeat;
              background-size: 0% 2px;
              transition: background-size .9s;
              display: initial;
            }
          }

          &-date time {
            font-family: var(--global-font-abc-whyte);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;
          }
        }

        &:hover {
           background-color: var(--global-color-red-2);
          .latestNews-item-category {
            p {
              color: var(--global-color-white);
            }
          }

          .latestNews-item-copy {
            .latestNews-item-copy-title {
              span{
                  background-size: 100% 2px;
              }
            }
          }

        }
      }

      &-link {
        a {
          color: white;
          font-size: 21px;
          font-style: normal;
          font-weight: 800;
          line-height: 27px;
          letter-spacing: 0em;
          text-align: left;
          margin-top: 1rem;
          margin-bottom: 3rem;
        }
      }
    }

    .latest-hero-sidebar {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      @media(max-width:$mobile-breakpoint) {
        flex-direction: column;
      }

      &.reverse {
        flex-direction: row-reverse;

        @media(max-width:$mobile-breakpoint) {
          flex-direction: column;
        }
      }

      &-left {
        max-width: 840px;

        .latestNews-hero {
          .latestNews-hero-container {
            margin-top: 0;

            .latestNews-hero-copy {
              &-title {
                .h4 {
                  font-size: 35px;
                }
              }
            }

            .latestNews-hero-image {
              height: 344px;

              @media(max-width:$mobile-breakpoint) {
                height: auto;
              }
            }
          }
        }
      }

      &-right {
        max-width: 367px;

        @media(max-width:$mobile-breakpoint) {
          max-width: 100%;
          margin: 30px 12px;
        }

        @media (max-width: $mobile-large) {
          max-width: auto;
        }

        &-SideItems {
          min-width: 368px;

          @media(max-width:$mobile-breakpoint) {
            width: 100%;
            min-width: auto;
          }


          >div {
            max-width: 331px;

            @media(max-width:$mobile-breakpoint) {
              max-width: 100%;
            }

            .sideItems-item {
              border-top: 2px solid var(--global-color-light-violet);
              border-bottom: 2px solid var(--global-color-light-violet);
              padding: 25px 0;
              margin-top: -2px;

              &:first-child {
                margin-top: 0;
              }

              &-tag {
                color: var(--global-color-mint);
                text-transform: uppercase;
                font-family: var(--global-font-abc-whyte);
                font-style: normal;
                font-weight: normal;
                font-size: 11px;
                margin-bottom: 15px;
              }

              &-title {
                font-family: var(--global-font-abc-whyte);
                font-size: 21px;
                font-style: normal;
                font-weight: 400;
                line-height: 29px;
                letter-spacing: 0em;
                text-align: left;

                a {
                  text-decoration: none;
                  color: var(--global-color-white);

                  &:hover {
                    text-decoration: underline;
                  }
                }
              }

              &-date {
                margin-top: 26px;
                font-family: var(--global-font-abc-whyte);
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 23px;
                letter-spacing: 0em;
                text-align: left;
              }
            }
          }
        }
      }
    }
  }
}

.newsandstories-page {
  .block-latestNews {
    &:last-child {
      padding-top: 0px;
    }
  }
}

.js-scroll {
  opacity: 0;
  transition: opacity 500ms;
}

.js-scroll.scrolled {
  opacity: 1;
}


.scrolled.slide-right {
  animation: slide-in-right 1s ease-in-out both;
  @media(max-width:$mobile-breakpoint) {
    animation: none;
  }
}


@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(100px);
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

@media(max-width:$mobile-breakpoint) {
  @keyframes slide-in-right {
    0% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}