.mapsv2{
   .slideout{
    background-color: #160843;
    .slideout__content{
      h2{
        color:#ABFFEB;
      }
    }
   }
   .location-hover{
    background-color: #160843;
    h5{
      color:#ABFFEB;
    }
   }
}