.mediaContacts {
  background-color: var(--global-color-sand);

  .mediaContacts-header {
    color: var(--global-color-text);
    padding-top: 80px;
    padding-bottom: 90px;
    max-width: 700px;
    margin: 0 auto;

    &-title {
      font-family: var(--global-font-sectra);
      font-size: 45px;
      font-style: normal;
      font-weight: 700;
      line-height: 52px;
      letter-spacing: 0em;
      text-align: center;
    }

    &-copy {
      margin-top: 26px;

      p {
        font-family: var(--global-font-abc-whyte);
        font-size: 17px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0em;
        text-align: center;

        a {
          color: var(--global-color-text);
          text-decoration: underline;
          text-decoration-color: var(--global-color-red);

          &:hover {
            background-color: #DA392F;
            color: #FFF;
            text-decoration: none;
          }
        }
      }
    }

    &-links {
      display: flex;
      justify-content: space-around;
      margin: 60px 0 80px 0;

      a {
        font-family: var(--global-font-abc-whyte);
        font-size: 21px;
        font-style: normal;
        font-weight: 900;
        line-height: 27px;
        text-align: left;
        letter-spacing: 0;
        color: #0A0319;
        padding-top: 0;
        padding-left: 0;
        border: 0;
        display: inline-block;
        padding-bottom: 0;
        background-image: url("../img/v2/arrow-red.svg");
        background-repeat: no-repeat;
        background-size: 20px auto;
        background-position: right 20px center;
        padding-right: 50px;
      }
    }
  }

  .bannerType4 {
    max-width: 1060px;
  }

  .mediaContacts-items {
    width: 100%;
    max-width: $desktop-mlarge;
    margin: 0 auto;

    .mediaContacts-item {
      width: 100%;
      max-width: $desktop-mlarge;
      color: var(--global-color-text);
      transition: all 0.2s ease-in-out;
      position: relative;

      &:hover {
        z-index: 2;
        color: var(--global-color-white);
        background-color: var(--global-color-red-2);

        .mediaContacts-item-content {
          border-top: 2px solid transparent;
          border-bottom: 2px solid transparent;

          &-left {
            &-tag {
              color: var(--global-color-white);
            }
          }

          &-right {

            &-title {
              color: var(--global-color-white);
              text-decoration: underline;

              a {
                color: var(--global-color-white);
                text-decoration: underline;
              }
            }

            &-date {
              color: var(--global-color-white);
            }
          }
        }
      }

      &-content {
        max-width: 1060px;
        margin: 0 auto;
        padding: 12px 0;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: -2px;
        border-top: 2px solid var(--global-color-darker-sand);
        border-bottom: 2px solid var(--global-color-darker-sand);
        padding-top: 53px;
        padding-bottom: 27px;

        &-left {
          width: 100%;
          max-width: 180px;

          &-tag {
            color: var(--global-color-red-2);
            text-transform: uppercase;
            font-family: var(--global-font-abc-whyte);
            font-size: 11px;
            font-style: normal;
            font-weight: 400;
            line-height: 21px;
            letter-spacing: 0.17em;
            text-align: left;
          }
        }

        &-right {
          width: 100%;
          max-width: 840px;
          justify-content: center;
          align-items: flex-start;
          display: flex;
          flex-direction: column;



          &-title {
            font-family: var(--global-font-sectra);
            font-size: 35px;
            font-style: normal;
            font-weight: 700;
            line-height: 42px;
            letter-spacing: 0em;
            text-align: left;

            a {
              color: var(--global-color-text);
              text-decoration: none;
            }

          }

          &-date {
            margin-top: 29px;
            font-family: var(--global-font-abc-whyte);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0em;
            text-align: left;

          }
        }
      }
    }

    .mediaContacts-paginate {
      padding: 0;
      margin: 0 auto;
      padding-top: 90px;
      padding-bottom: 153px;
      max-width: 1060px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      font-family: var(--global-font-abc-whyte);

      &-item {
        background-color: transparent;
        font-family: var(--global-font-abc-whyte);
        color: var(--global-color-text);
        display: block;
        padding: 11px;
        min-width: 36px;
        margin: 0 2px;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        height: 36px;
        box-sizing: border-box;
        text-decoration: none;

        &:hover {
          display: block;
          padding: 11px;
          min-width: 36px;
          margin: 0 2px;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          height: 36px;
          box-sizing: border-box;
          background-color: #da392f;
          color: #fff;
        }

        &--current {
          display: block;
          font-family: var(--global-font-abc-whyte);
          padding: 11px;
          min-width: 36px;
          margin: 0 2px;
          text-align: center;
          font-size: 14px;
          line-height: 14px;
          height: 36px;
          box-sizing: border-box;
          background-color: #da392f;
          color: #fff;
          text-decoration: underline;
        }

        &-prev{
          padding: 11px 0px 11px 32px;
          border: 0;
          display: inline-block;
          background-image: url("../img/v2/arrow-red-left.svg");
          background-repeat: no-repeat;
          background-size: 20px auto;
          background-position: left 4px center;
          margin-right: 10px;
          &:hover{
            background-color: transparent;
            color: #0A0319;
          }
        }

        &-next{
          padding: 11px 32px 11px 0px;
          border: 0;
          display: inline-block;
          background-image: url("../img/v2/arrow-red.svg");
          background-repeat: no-repeat;
          background-size: 20px auto;
          background-position: right 4px center;
          margin-left: 10px;
          &:hover{
            background-color: transparent;
            color: #0A0319;
          }
        }
        
      }
    }
  }
}