.bannerLinks-block-container{
  width: 100%;
  max-width: $desktop-ml;
  background-color: var(--global-color-medium-violet);
  display: flex;
  flex-direction: row;
  min-height: 550px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  
  
  @media (max-width: $tablet-landscape) {
    flex-direction: column;
  }
  
  
  .bannerLinks-title-mobile{
    font-family: var(--global-font-abc-whyte);
    font-size: 21px;
    font-style: normal;
    font-weight: 400;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    display: none;
    margin-left: 20px;
    margin-top: 34px;
    margin-bottom: 34px;
    @media (max-width: $mobile-large) {
      display: block;
    }
  }
  
  
  .bannerLinks-left{
    min-width: 510px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    @media (max-width: $mobile-large) {
      height: 248px;
      min-width: 100%;
    }
  }
  
  .bannerLinks-right {
    min-width: 770px;
    padding-left: 110px;
    padding-right: 110px;
    padding-top:52px;
    padding-top:60px;
    @media (max-width: $mobile-large) {
      min-width: 100%;
      padding: 0 11px;
    }
    
    .bannerLinks-right-title{
      font-family: var(--global-font-abc-whyte);
      color: #FFF;
      font-size: 26px;
      font-style: normal;
      font-weight: 400;
      line-height: 34px;
      letter-spacing: 0em;
      text-align: left;
      margin-bottom: 25px;
      @media (max-width: $mobile-large) {
        display: none;
      }
    }
    
    
    .bannerLinks-right-items{
      @media (max-width: $mobile-large) {
        margin-top: 30px;
        margin-bottom: 40px;
      }
      width: 100%;
      display: flex;
      flex-direction: column;
      
      .bannerLinks-right-item{
        width: 100%;
        color: var(--global-color-mint);
        background-color: transparent;
        transition: all 0.2s ease-in-out;
        position: relative;
        
        margin-top:-2px;
        border-top: 2px solid var(--global-color-light-violet);
        border-bottom: 2px solid var(--global-color-light-violet);
        padding: 20px 0;
        
        a {
          padding: 0 5px;
          display: inline-block;
          font-family: var(--global-font-abc-whyte);
          color: var(--global-color-dark-mint);
          text-decoration: none;
          font-size: 21px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
          transition: all 0.2s ease-in-out;
          @media (max-width: $mobile-large) {
            font-size: 19px;
            font-weight: 400;
            line-height: 27px;
            letter-spacing: 0em;
          }
          
          &:hover{
            background-color: var(--global-color-red-2);
            color: #FFF;
            text-decoration: underline;
          }
        }        
      }
    }
  }
}