.block-signup {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  &.bgColor-sand {
    background-color: var(--global-color-sand) !important;
  }

  .block-signup-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    max-width: 100%;
    align-content: flex-end;
    align-items: flex-end;
    position: relative;
    flex-grow: 1;
    color: #FFF;
    top: -35px;
    margin-top: 35px;

    @media (max-width: $mobile-large) {
      flex-direction: column;
      top: 0;
      margin-top: 0;
    }


    .block-signup-left {
     /* padding-left: 50px;*/
      padding-left: calc((100% - 1280px)/2);
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      background-color: var(--global-color-violet);
      color: #FFF;
      left: 0px;
      border-radius: 0px;
      flex-grow: 1;
      justify-content: center;
      padding-top: 61px;
      padding-bottom: 65px;
      transition: all 0.2s ease-in-out;
      height: auto;
      min-height: 526px;
      min-width: 450px;
      max-width: calc(1060px + (50% - 530px));
      position: relative;
      @media(max-width:$mobile-breakpoint) {
        padding-top: 33px;
        padding-left: 35px;
        padding-bottom: 53px;
      }

      &::after {
        content: '';
        width: 100%;
        height: 35px;
        position: absolute;
        bottom: -35px;
        background: var(--global-color-medium-violet);
        left: 0;
      }

      @media (max-width: $mobile-large) {
        width: 100%;
      /*  padding-right: 50px;
        padding-left: 50px;*/
        padding-top: 33px;
        padding-left: 35px;
        padding-bottom: 53px;
        min-width: 0;
      }

      .bck {
        width: 100%;
        position: absolute;
        background-color: #160643;
        left: 0;
        z-index: 0;
        height: 398px;
      }

      .block-signup-title {
        font-family: var(--global-font-abc-whyte);
        color: #FFF;
        font-size: 80px;
        font-style: normal;
        font-weight: 900;
        line-height: 97.6px;
        letter-spacing: 0em;
        text-align: left;
        width: 100%;

        @media (max-width: $tablet-portrait) {
          font-size: 45px;
          line-height: 49.5px;
          width: 100%;
        }

        .message {
          min-width: 458px;
          border-right: 2px solid #160643;
          height: 315px;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        /*  padding-left: 30px;*/

          @media(max-width:$mobile-breakpoint) {
            align-items: self-start;
            padding-left: 0;
            min-width: inherit;
            border: none;
            height: 190px;
          }
        }

      }

      .block-signup-copy {
        font-family: var(--global-font-abc-whyte);
        color: #FFF;
        font-size: 32px;
        font-style: normal;
        font-weight: 500;
        line-height: 48px;
        letter-spacing: 0em;
        margin-top: 30px;
        text-align: left;

        @media (max-width: $mobile-breakpoint){
          padding-right: 50px;
          font-size: 28px;
          line-height: 35px;
          margin-top: 25px;
        }
      }

      .block-signup-form {
        margin-top: 48px;
        display: flex;
        align-content: flex-end;
        align-items: stretch;

        @media (max-width: $mobile-breakpoint){
          flex-direction: column;
          margin-top: 66px;
        }

        .theButton{
          margin-bottom: 8px;
        }
        .button.orange span {
          font-size: 28px;
          min-height: 50px;
          line-height: 50px;
          
          @media(max-width:$mobile-breakpoint) {
            font-size: 24px;
          }
        }

        .button.orange.arrow {
          @media(max-width:$mobile-breakpoint) {
            width: 148px;
            height: 60px;
          }
        }


        input[type=email] {
          background-color: transparent;
          border: 0;
          border-bottom: 2px solid var(--global-color-mint);
          font-family: var(--global-font-abc-whyte);
          margin-left: 0px;
          margin-right: 40px;
          color: var(--global-color-white);
          width: 510px;
          font-size: 21px;
          font-style: normal;
          font-weight: 400;
          line-height: 29px;
          letter-spacing: 0em;
          text-align: left;
          border-radius: 0px;

          &:focus {
            outline: none;
          }

          &::placeholder {
            color: var(--global-color-white);
          }

          @media(max-width:$mobile-breakpoint) {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 0;
            margin: 0;
            margin-bottom: 39px;
        
          }

          &.error {
            border-bottom: 2px solid #EF4136;
          }
        }
      }

      #error-email {
        margin-left: 0px;
        margin-top: 15px;
        color: #ffffff;
        font-family: var(--global-font-abc-whyte);
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0em;
        text-align: left;
      }


      &.send-msg {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        position: relative;

        @media(max-width:$mobile-breakpoint) {
          flex-direction: column;
          padding-left: 35px;
        }
      }


    }

    .block-signup-right {
      background-color: var(--global-color-medium-violet);
      height: 450px;
      /*width: 185px;*/
      width: calc(calc(100% - 1060px)/2);
      border-radius: 0px;
      position: relative;
      transition: all 0.2s ease-in-out;
      top: 35px;

      @media (max-width: $mobile-large) {
        width: 100%;
        height: 110px;
        top: 0;
      }


      &::after {
        background-color: var(--global-color-light-violet);
        content: "";
        height: 2px;
        bottom: 30%;
        position: absolute;
        width: 100%;
        box-sizing: border-box;
        right: 0px;
      }

      &::before {
        background-color: var(--global-color-light-violet);
        content: "";
        height: 110%;
        position: absolute;
        width: 2px;
        top: -10%;
        box-sizing: border-box;
        left: 40%;

        @media (max-width: $tablet-portrait) {
          height: 100%;
          top: 0;
          left: 90%;
        }
      }

    }



/*
 * Social
 */

    .socials {
      display: flex;
      justify-content: baseline;
      align-items: baseline;
      width: 100%;
      position: relative;
      @media(max-width:$mobile-breakpoint) {
        flex-direction: column;
        width: 100%;
      }

      p {
        font-size: 26px;
        margin-bottom: 40px;

        @media(max-width:$mobile-breakpoint) {
          font-size: 21px;
          margin-bottom: 26px;
          margin-top: 26px;
        }
      }

 

      .donate-txt {
        min-width: 50%;
        padding-left: 110px;

        @media(max-width:$mobile-breakpoint) {
          padding-left: 0px;
        }

        p {
          font-size: 26px;
          margin-bottom: 40px;
  
          @media(max-width:$mobile-breakpoint) {
            font-size: 21px;
            margin-bottom: 26px;
            margin-top: 26px;
          }
        }
      }

      .wrap-socials{
        padding-left: 73px;
        @media(max-width:$mobile-breakpoint) {
          padding-left: 0;
        }
        .list-social {
          display: flex;
          align-items: baseline;
          list-style: none;
          justify-content: space-between;
     
          a {
            svg {
              width: 45px;
              margin-right: 7px;
              padding: 0;
            }
          }
        }
      }
    }

   



    .list-social button {
      border-style: none;
      background-color: transparent;

    }

 

  }

}