.signInPage {
  padding: 8rem 5rem;

  .login-form {
    margin: 2rem 0;

    form {
      padding: 2rem 0;

      .loginName {
        margin-bottom: 1rem;
        display: block;
      }

      h3 {
        line-height: 1rem;
      }

      .remember-me {
        margin: 10px 0;
        display: block;
      }
    }
  }
}


.resetPass {
  padding: 8rem 5rem;

  .login-header{
    margin-bottom: 1rem;
  }

  .errors{
    padding: 1rem 2rem;
    color: #ef4136;
  }


.resetPButton{
  margin: 10px 0;
  display: block;
}
  .login-form {
    margin: 2rem 0;

    form {
      padding: 2rem 0;

      .loginName {
        margin-bottom: 1rem;
        display: block;
      }

      h3 {
        line-height: 1rem;
      }

      .remember-me {
        margin: 10px 0;
        display: block;
      }
    }
  }
}