$subheading-1_size: 2.8;
$subheading-2_size: 2.4;
$subheading-3_size: 1.8;

@mixin subheading($size,$redactor: false) {
	
	@extend %h5-alt;
	
	@if $redactor == true {
		$size: $size*.62;
	}
        
    @include font-size($size);
    
    @media (min-width: $tablet-landscape) {
        @include font-size($size*1.222);
    }
}