{% extends '_layout' %}

{% set title = entry.title %}
{% set  jobId  = craft.app.request.getQueryParam('gh_jid') ?? null %}

{% block content %}
{# Greenhouse #}
<script src="https://boards.greenhouse.io/embed/job_board/js?for=verainstituteofjustice"></script>

<input type="hidden" id="jobId" value="{{ jobId }}">

    <div class="hero-type4">
      <div class="hero-type4-content">
        <div class="hero-type4-content-copy">
          <div class="hero-type4-content-copy-breadcrumbs">
           <a href="{{ siteUrl }}">HOME</a> // <a href="{{ siteUrl('careers') }}">Careers</a> // <a href="#">Job</a>
          </div> 
          <p class="date" id="jobDate"></p>
          <div>
            <img src="/dist/img/v2/vera-horizontal.svg" class="footerV2-logo logovera" width="200px">
          </div>
          <h2 id="jobTitle"></h2>
          <div class="infojob">
            <ul>
              <li>
                <a href="#"><span id="jobType"></span></a> 
              </li>
              <li>
                <a href="#">Location: <span id="jobLocation"></span> </a>
              </li>
              <li>
                <a href="#">Team: <span id="jobTeam"></span></a>
              </li>
            </ul>
          </div>
        </div>
   
        <div class="hero-type4-content-line1"></div>
        <div class="hero-type4-content-line2"></div>
        <div class="hero-type4-content-line3"></div>
        <div class="hero-type4-content-line4"></div>
        
      </div>
    </div>
    <section>
        <div class="container contentjob">
           <!-- Share Icons -->
            {% include 'v2/common/shareIcons' with { entry:entry } %}
            <!-- Share Icons -->
           <div id="jobContent"></div>
        </div>
        <div class="formjob">
        <div id="grnhse_app"></div>
            {# include "v2/common/FormApplyJob" #}
        </div>
    </section>
    


{% endblock %}
