<section class="CareersHero">
  <div class="CareersHero-image">
  <img src="{{ block.image[0].url }}" alt="{{block.image.title}}" />
  </div>
  <h1 class="CareersHero-heading">{{ block.heading }}</h1>
</section>