{% set locations = [
    {
        title: 'brooklyn',
        id:1
    },
    {
        title: 'New york',
        id:2,
    },
    {
        title: 'Remote',
        id:3,
    },
    {
        title: 'Manhattan',
        id:4,
    }
    
] %}
{% set teams = [
    {
        title: 'Accounting',
        id:1
    },
    {
        title: 'Communications&External Affairs',
        id:2,
    },
    {
        title: 'Human Resources',
        id:3,
    },
] %}

{% set jobtype = [
    {
        title: 'Accounting',
        id:1
    },
    {
        title: 'Communications',
        id:2,
    },
    {
        title: 'Human Resources',
        id:3,
    },
] %}


<div class="container py-5">
    <div class="row">
        <div class="col-md-12">
            <h2 class="CopySection-heading">Job openings</h2>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12 py-5 sj-content">
            <div class="sj-headContent ">
                <div class="rs-head-form">
                    <div class="contentInput">
                        <input type="search" placeholder="Search positions"  id="searchbox" class="contentInput_search">
                        <button class="contentInput__close"></button>
                        <button class="contentInput-search"></button>
                    </div>
                    <div class="dropMenu dropdown-areas">
                        <button class="dropdown-toggle" type="button" id="menuJobtype" aria-haspopup="true">
                           <span class="dropdown-text-jobtype">select a job type</span>
                           <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-teams" id="listJobtype" aria-labelledby="menuJobtype"></ul>
                    </div>

                    <div class="dropMenu dropdown-areas">
                        <button class="dropdown-toggle" type="button" id="menuTeam" aria-haspopup="true">
                           <span class="dropdown-text-teams">Select a team</span>
                           <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-teams" id="listTeams" aria-labelledby="menuTeam"></ul>
                    </div>

                    <div class="dropMenu dropdown-areas">
                        <button class="dropdown-toggle" type="button" id="menuLocation" aria-haspopup="true">
                           <span class="dropdown-text-locations">Select a location</span>
                           <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-menu-locations" id="listLocations" aria-labelledby="menuLocation">
                        
                                <li class="checkFilter">
                                  <input type="checkbox" name='optionsLocations[]' id="location-3" class="locations_checkbox option justone" value="3" data-category="locations"/>
                                  <label class="labelTopic" for="location-3">
                                     Location
                                  </label>
                                </li>
                        
                        </ul>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    

    <div class="row">
        <div class="col-md-12">
            <div class="rs-tags">
            <div id="JobsearchTags"></div>
          </div>
        </div>
    </div>

    
    <div class="row">
        <div class="col-md-12 tablejob_container">   
            <table class="table tableJob">
                <thead class="tableJob_head">
                  <tr>
                    <th scope="col">Position</th>
                    <th scope="col">Type</th> 
                    <th scope="col">Location</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody id="jobs">
                {#
                  <tr class="tableJob_headline">
                    <th colspan="4" scope="colgroup" class="text-star p-4">Permanent positions</th>
                  </tr>
                #}
               </tbody>
              </table>
        </div>
    </div>
</div>


<script>

$("#menuTeam").on('click',function(){
  var CheckR = $("#menuTeam").attr("aria-expanded");
 if ( CheckR == "true") {
      $("#menuTeam").attr("aria-expanded", "false");
      $("#listTeams").attr("aria-hidden", "true");
 } else {
      $("#menuTeam").attr("aria-expanded", "true");
      $("#listTeams").attr("aria-hidden", "false");
 }
});

$("#menuLocation").on('click',function(){
  var CheckR = $("#menuLocation").attr("aria-expanded");
 if ( CheckR == "true") {
      $("#menuLocation").attr("aria-expanded", "false");
      $("#listLocations").attr("aria-hidden", "true");
 } else {
      $("#menuLocation").attr("aria-expanded", "true");
      $("#listLocations").attr("aria-hidden", "false");
 }
});

$("#menuJobtype").on('click',function(){
  var CheckR = $("#menuJobtype").attr("aria-expanded");
 if ( CheckR == "true") {
      $("#menuJobtype").attr("aria-expanded", "false");
      $("#listJobtype").attr("aria-hidden", "true");
 } else {
      $("#menuJobtype").attr("aria-expanded", "true");
      $("#listJobtype").attr("aria-hidden", "false");
 }
});

</script>
