@import "../common/hero-format.scss";

.heading-2{
  font-family: var(--global-font-sectra);
  font-style: normal;
  font-weight: bold;
  font-size: 80px;
  line-height: 115%;
  font-feature-settings: 'pnum' on, 'lnum' on;
}
