@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Regular.eot');
  src: url('../css/fonts/ABCWhyte-Regular.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-Regular.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-Regular.woff') format('woff'),
       url('../css/fonts/ABCWhyte-Regular.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-Regular.svg#ABCWhyte-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-RegularItalic.eot');
  src: url('../css/fonts/ABCWhyte-RegularItalic.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-RegularItalic.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-RegularItalic.woff') format('woff'),
       url('../css/fonts/ABCWhyte-RegularItalic.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-RegularItalic.svg#ABCWhyte-RegularItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

//ABC Whyte Thin
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Thin.eot');
  src: url('../css/fonts/ABCWhyte-Thin.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-Thin.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-Thin.woff') format('woff'),
       url('../css/fonts/ABCWhyte-Thin.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-Thin.svg#ABCWhyte-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Thin Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-ThinItalic.eot');
  src: url('../css/fonts/ABCWhyte-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-ThinItalic.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-ThinItalic.woff') format('woff'),
       url('../css/fonts/ABCWhyte-ThinItalic.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-ThinItalic.svg#ABCWhyte-ThinItalic') format('svg');
  font-weight: 100;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Extralight
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Extralight.eot');
  src: url('../css/fonts/ABCWhyte-Extralight.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-Extralight.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-Extralight.woff') format('woff'),
       url('../css/fonts/ABCWhyte-Extralight.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-Extralight.svg#ABCWhyte-Extralight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Extralight Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-ExtralightItalic.eot');
  src: url('../css/fonts/ABCWhyte-ExtralightItalic.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-ExtralightItalic.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-ExtralightItalic.woff') format('woff'),
       url('../css/fonts/ABCWhyte-ExtralightItalic.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-ExtralightItalic.svg#ABCWhyte-ExtralightItalic') format('svg');
  font-weight: 200;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Light
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Light.eot');
  src: url('../css/fonts/ABCWhyte-Light.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-Light.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-Light.woff') format('woff'),
       url('../css/fonts/ABCWhyte-Light.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-Light.svg#ABCWhyte-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Light Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-LightItalic.eot');
  src: url('../css/fonts/ABCWhyte-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-LightItalic.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-LightItalic.woff') format('woff'),
       url('../css/fonts/ABCWhyte-LightItalic.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-LightItalic.svg#ABCWhyte-LightItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Book
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Book.eot');
  src: url('../css/fonts/ABCWhyte-Book.eot?#iefix') format('embedded-opentype'),
       url('../css/fonts/ABCWhyte-Book.woff2') format('woff2'),
       url('../css/fonts/ABCWhyte-Book.woff') format('woff'),
       url('../css/fonts/ABCWhyte-Book.ttf') format('truetype'),
       url('../css/fonts/ABCWhyte-Book.svg#ABCWhyte-Book') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Book Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-BookItalic.eot');
  src: url('../css/fonts/ABCWhyte-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-BookItalic.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-BookItalic.woff') format('woff'),
      url('../css/fonts/ABCWhyte-BookItalic.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-BookItalic.svg#ABCWhyte-BookItalic') format('svg');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Medium
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Medium.eot');
  src: url('../css/fonts/ABCWhyte-Medium.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-Medium.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-Medium.woff') format('woff'),
      url('../css/fonts/ABCWhyte-Medium.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-Medium.svg#ABCWhyte-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Medium Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-MediumItalic.eot');
  src: url('../css/fonts/ABCWhyte-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-MediumItalic.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-MediumItalic.woff') format('woff'),
      url('../css/fonts/ABCWhyte-MediumItalic.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-MediumItalic.svg#ABCWhyte-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Bold
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Bold.eot');
  src: url('../css/fonts/ABCWhyte-Bold.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-Bold.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-Bold.woff') format('woff'),
      url('../css/fonts/ABCWhyte-Bold.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-Bold.svg#ABCWhyte-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Bold Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-BoldItalic.eot');
  src: url('../css/fonts/ABCWhyte-BoldItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-BoldItalic.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-BoldItalic.woff') format('woff'),
      url('../css/fonts/ABCWhyte-BoldItalic.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-BoldItalic.svg#ABCWhyte-BoldItalic') format('svg');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Heavy
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Heavy.eot');
  src: url('../css/fonts/ABCWhyte-Heavy.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-Heavy.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-Heavy.woff') format('woff'),
      url('../css/fonts/ABCWhyte-Heavy.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-Heavy.svg#ABCWhyte-Heavy') format('svg');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Heavy Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-HeavyItalic.eot');
  src: url('../css/fonts/ABCWhyte-HeavyItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-HeavyItalic.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-HeavyItalic.woff') format('woff'),
      url('../css/fonts/ABCWhyte-HeavyItalic.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-HeavyItalic.svg#ABCWhyte-HeavyItalic') format('svg');
  font-weight: 800;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Black
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Black.eot');
  src: url('../css/fonts/ABCWhyte-Black.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-Black.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-Black.woff') format('woff'),
      url('../css/fonts/ABCWhyte-Black.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-Black.svg#ABCWhyte-Black') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Black Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-BlackItalic.eot');
  src: url('../css/fonts/ABCWhyte-BlackItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-BlackItalic.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-BlackItalic.woff') format('woff'),
      url('../css/fonts/ABCWhyte-BlackItalic.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-BlackItalic.svg#ABCWhyte-BlackItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
  font-display: swap;
}
//ABC Whyte Super
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-Super.eot');
  src: url('../css/fonts/ABCWhyte-Super.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-Super.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-Super.woff') format('woff'),
      url('../css/fonts/ABCWhyte-Super.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-Super.svg#ABCWhyte-Super') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
//ABC Whyte Super Italic
@font-face {
  font-family: 'ABC Whyte';
  src: url('../css/fonts/ABCWhyte-SuperItalic.eot');
  src: url('../css/fonts/ABCWhyte-SuperItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/ABCWhyte-SuperItalic.woff2') format('woff2'),
      url('../css/fonts/ABCWhyte-SuperItalic.woff') format('woff'),
      url('../css/fonts/ABCWhyte-SuperItalic.ttf') format('truetype'),
      url('../css/fonts/ABCWhyte-SuperItalic.svg#ABCWhyte-SuperItalic') format('svg');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}


@font-face {
  font-family: 'GT Sectra';
  src: url('../css/fonts/GTSectra-Book.eot');
  src: url('../css/fonts/GTSectra-Book.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/GTSectra-Book.woff2') format('woff2'),
      url('../css/fonts/GTSectra-Book.woff') format('woff'),
      url('../css/fonts/GTSectra-Book.ttf') format('truetype'),
      url('../css/fonts/GTSectra-Book.svg#GTSectra-Book') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../css/fonts/GTSectra-BookItalic.eot');
  src: url('../css/fonts/GTSectra-BookItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/GTSectra-BookItalic.woff2') format('woff2'),
      url('../css/fonts/GTSectra-BookItalic.woff') format('woff'),
      url('../css/fonts/GTSectra-BookItalic.ttf') format('truetype'),
      url('../css/fonts/GTSectra-BookItalic.svg#GTSectra-BookItalic') format('svg');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../css/fonts/GTSectra-Medium.eot');
  src: url('../css/fonts/GTSectra-Medium.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/GTSectra-Medium.woff2') format('woff2'),
      url('../css/fonts/GTSectra-Medium.woff') format('woff'),
      url('../css/fonts/GTSectra-Medium.ttf') format('truetype'),
      url('../css/fonts/GTSectra-Medium.svg#GTSectra-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}

@font-face {
  font-family: 'GT Sectra';
  src: url('../css/fonts/GTSectra-MediumItalic.eot');
  src: url('../css/fonts/GTSectra-MediumItalic.eot?#iefix') format('embedded-opentype'),
      url('../css/fonts/GTSectra-MediumItalic.woff2') format('woff2'),
      url('../css/fonts/GTSectra-MediumItalic.woff') format('woff'),
      url('../css/fonts/GTSectra-MediumItalic.ttf') format('truetype'),
      url('../css/fonts/GTSectra-MediumItalic.svg#GTSectra-MediumItalic') format('svg');
  font-weight: 500;
  font-style: italic;
  font-display: swap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}
