:root {
  --global-color-dark-violet: #0E002C;
  --global-color-medium-violet: #160643;
  --global-color-violet: #2E1D97;
  --global-color-light-violet: #3E2BB1;
  --global-color-red: #EF4136;
  --global-color-red-2: #DA392F;
  --global-color-sand: #FFF7F0;
  --global-color-sunflower: #FF9E44;
  --global-color-dark-sand: #CEC0BC;
  --global-color-darker-sand: #D2BAB4;
  --global-color-mint: #ABFFEB;
  --global-color-dark-mint: #97DFD1;
  --global-color-white: #FFFFFF;
  --global-color-text: #0A0319;
  --global-color-gray-text: #4A4A4A;
  --global-font-abc-whyte: 'ABC Whyte';
  --global-font-sectra: 'GT Sectra';
  --breakpoint-mobile: $tablet-portrait;
}


* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: always;
}


.main-content{
  background-color: var(--global-color-sand);
  margin: 0 auto;
}

.d-none{
  display: none;
}


body.nav-pad:not(.no-pad) {
  padding-top: 0px;
}

/*
 *  Colors
 */

 .bgColor-sand {
  background-color: var(--global-color-sand);
 }

 .bgColor-darkviolet {
  background-color: var(--global-color-dark-violet);
 }


#content {
  background-color: var(--global-color-sand);
}

.anchor-link{
  position: relative;
  /*top: -100px; */
}

//Fantasma -Settigs

h1,h2,h3,h4,h5{
  font-family: 'GT Sectra';
  /* display: none; */
  font-weight: bold;
}

#content{
  z-index: 1;
  position: relative;
  display: flow-root;
}

.txt-underline {
  text-decoration: underline;
  text-decoration-color: #ef4641;
}

.colorRed {
  color:#DA392F;
}

.previewBlockId{
  max-width: 840px;
  margin: 0 auto;
  border: 2px dotted #0a0319;
  padding: 5px 15px;
  display: block;
  color: black;
  font-weight: 500;
  width: fit-content;
}

.overflowHidden{
  overflow: hidden;
}


.breadcrumbs{
  color: #FFF;
  font-family: var(--global-font-abc-whyte);
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
  letter-spacing: 0.17em;
  text-align: left;
  margin-bottom: 20px;
  text-transform: uppercase;

    a{
      color: #ABFFEB;
      font-family: var(--global-font-abc-whyte);
      font-size: 11px;
      font-style: normal;
      font-weight: 400;
      line-height: 21px;
      letter-spacing: 0.17em;
      text-align: left;
      margin-bottom: 20px;
      text-transform: uppercase;
      margin-left: 5px;
      margin-right: 5px;
      &:first-child{
        margin-left: 0px;
      }

      &:hover{
        text-decoration: underline;
        color: #FFF;
        background-color: #da392f;
      }
    }
  
}