.copy-block-content h5 {
  font-size: 35px;
  margin-bottom: 45px;
}

.button {
  border: 2px solid #ABFFEB;
  background-color: transparent;
  font-family: var(--global-font-abc-whyte);
  font-size: 16px;
  font-weight: 500;
  line-height: 20.8px;
  padding: 10px 50px 10px 20px;
  color: #FFF;
  text-decoration: none;
  position: relative;
  display: inline-block;
  outline: none;
  cursor: pointer;
  transition: all 0.2s ease;

  &-2x {
    font-size: 28px;
    padding: 16px 66px 18px 16px;
  }

  &:hover {
    color: #0E002C;
    font-weight: 500;
    background-color: #ABFFEB;
  }

  &.orange {
    color: #FFF;
    border: 0;
    z-index: 1;

    &.arrow {
      background-image: url("../img/v2/arrow-white.svg");
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: right 15px center;

    }

    span {
      transition: transform 0.2s ease;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      color: #FFF;
     /* font-size: 28px;*/
     font-size: 16px;
    }

    &:before,
    &:after {
      border: 0;
      content: '';
      display: block;
      position: absolute;
      z-index: -1;
    }

    &:before {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: #EF4136;
      background-image: url("../img/v2/arrow-white.svg");
      background-repeat: no-repeat;
      background-size: inherit;
      background-position: right 20px center;
      transition: all 0.2s ease;
    }

    // BOTTOM
    &:after {
      background-color: transparent;
      left: 6px;
      top: 6px;
      width: 100%;
      height: 100%;
      border: 2px solid #97DFD1;
      transform: skewX(0deg);
      z-index: -2;
    }

    &:hover {
      background-color: transparent;
      box-sizing: content-box;

      span {
        transform: translate3d(6px, 6px, 0px);
        color: #FFF;
      }

      &:before {
        transform: translate3d(6px, 6px, 0px);
      }
    }

  }

  &.arrow {
    background-image: url("../img/v2/arrow.svg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right 20px center;

    &:hover {
      background-image: url("../img/v2/arrow-black.svg");
      color: var(--global-color-text);
    }
  }

  &.arrowType2 {
    font-family: var(--global-font-abc-whyte);
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: 27px;
    letter-spacing: 0em;
    text-align: left;
    padding-top: 0;
    padding-left: 0;
    border: 0;
    padding-bottom: 0;
    background-image: url("../img/v2/arrow-mint.svg");
    background-repeat: no-repeat;
    background-size: 20px auto;
    background-position: right 20px center;

    &:hover {
      background-image: url("../img/v2/arrow-red.svg");
      background-color: transparent;
      color: white;
      text-decoration: underline;
    }

    &.arrowHoverWhite {
      background-image: url("../img/v2/arrow-mint.svg");

      &:hover {
        background-image: url("../img/v2/arrow-w.svg");
      }
    }
  }

  &.signUp {
    padding: 0px 50px 0px 20px;

    span {
      min-height: 70px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-size: 28px;
      @media(max-width:$mobile-breakpoint) {
        font-size: 24px;
      }
    }

    @media(max-width:$mobile-breakpoint) {
      width: 148px;
      height: 60px;
      min-height: 60px;
    }
  }
}

.button-donate {
  font-family: var(--global-font-abc-whyte);
  font-size: 16px;
  font-weight: 500;
  line-height: 33px;
  padding: 10px 35px 10px 20px;
  color: #FFF;
  text-decoration: none;
  position: relative;
  display: inline-block;
  outline: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  background-color: #2E1D97;
  border: 2px solid transparent;
  height: 100%;
  justify-content: center;

  &.arrow {
    background-image: url("../img/v2/arrow.svg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right 8px center;
  }
}

.button-sand {
  border: 1px solid var(--global-color-dark-sand);
  background-color: transparent;
  color: var(--global-color-text);
  font-family: var(--global-font-abc-whyte);
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: center;
  padding: 8px 10px 8px 11px;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--global-color-red-2);
    border-color: var(--global-color-red-2);
    color: var(--global-color-white) !important;
  }

  &.active {
    background-color: var(--global-color-red-2);
    border-color: var(--global-color-red-2);
    color: var(--global-color-white);
  }
}

.button-text {
  font-family: var(--global-font-abc-whyte);
  font-size: 21px;
  font-style: normal;
  font-weight: 400;
  line-height: 54px;
  letter-spacing: 0em;
  text-align: left;
  text-decoration: none;

  &.strong {
    font-weight: 900;
  }

  &:after {
    border: 0;
    content: '';
    display: block;
    position: absolute;
    z-index: -1;
  }

  &:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: #EF4136;
    background-image: url("../img/v2/arrow-white.svg");
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: right 20px center;
    transition: all 0.2s ease;
  }
}

.placeHolderImg {
  background: #160643;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 0 0 100%;
  min-height: 330px;
}

.home-content-item-left-cta .button.orange:before {
  background-position: right 34px center;
}
