// breakpoints
$mobile-small: 350px;
$mobile-medium: 480px;
$mobile-large: 700px;
$tablet-portrait: 768px;
$tablet-landscape: 1024px;
$desktop-medium: 1180px;
$desktop-ml: 1280px;
$desktop-mlarge: 1440px;
$desktop-large: 1520px;


$mobile-breakpoint: $tablet-portrait;
$menu-mobile-breakpoint: 992px;

$max-copy: 840px;

// easing
//$ease-nice: cubic-bezier(0.19, 0.11, 0.21, 0.99);



:root{
  --underline-intrinsic-width: 14;
  --underline-width: 19;
  --underline-color: #2e1d97;
  --underline-cap-width: 0px;
  --underline-offset-y: -2px;
  --underline-padding-x: 0.12em;
}

.underline-hero {
  display: inline;
  --underline-width-scale: calc(var(--underline-width) / var(--underline-intrinsic-width));
  padding: 0 calc(var(--underline-padding-x) + calc(var(--underline-cap-width) * var(--underline-width-scale)));
  box-decoration-break: clone;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, var(--underline-color), var(--underline-color));
  background-position-x: calc(var(--underline-cap-width) * var(--underline-width-scale)), 0, 100%;
  background-position-y: calc(100% - var(--underline-offset-y) * -1);
  background-size:
    calc(100% - calc(var(--underline-cap-width) * var(--underline-width-scale) * 2)) calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px),
    auto calc(var(--underline-width) * 1px);
}


.underline-hero-1 {
  --underline-width: 25;
  --underline-offset-y: -11px;
}

