	{% set dl = block.file[0] ?? null %}
			{% if dl %}
				<div class="post-module text-center">
					<a href="{{ dl.url }}" target="_blank" class="btn">{{ block.buttonText }}</a>
				</div>
			{% endif %}