{% extends '_pdf_layout' %}

{% block content %}

	{% set entry = about %}
	
	{% set title = entry.chapterTitle ?? entry.type.name %}
	
	<article id="about" class="post-content__single__container full-bleed break-after">
		<div class="inner_wrap">
		    <div class="post-module module-text module-text--heading">
		        <div class="container">
		            <div class="module-text__inner rte">
		                <h2>{{ title }}</h2>
		            </div>
		        </div>
		    </div>
		
		    {% set article = entry.publicationArticle %}
		    {% include 'includes/snippets/article' %}
		</div>
	</article>
	
{% endblock %}