{% set map = block.mapEntry.one() %}  
{% set mapId = map.id() %}
{% set zoomeable = 'does-not-zoom' %}
{% set mapType =  map.type.handle %}
{% set e = craft.entries.id(mapId).one() %}

{% switch map.type.handle %}
	{% case 'citiesMapWithLinks' %}
	  <div class="mapContainer">
			{% include 'vera-maps/types/citiesMapWithLinks' with { entry: map, zoomable: 'zoom' } %}
		</div>
	{% case 'countyHeatmapWithLineCharts' %}
	 <div class="mapContainer">
		{% include 'vera-maps/types/countyHeatmapWithLineCharts' with { entry: map } %}
	 </div>
	{% case 'timelineMap' %}
		<div class="initiatives mapsv2">
			<div class="spotlight-stream stream-outer receives-background-color receives-color">
				<div class="color-combo-- spotlight-block--dataViz dataViz--timelineMap">
					<div class="container">      
						{% include "/spotlights/blocks/viz/mapv2" with { map: map } %}
					</div>
				</div>
			</div>	
		</div>
	{% default %}
    <!-- {{ map.type.handle }} -->
		{% include 'vera-maps/map' with {map: map, zoomable: 'zoom',  mapTheme: mapTheme ?? null} %}
	  
{% endswitch %}

