{% set homeOffice = administrative.homeOffice.first %}

{% extends '_layout' %}

{% set title = entry.title %}

{% block content %}
	<section class="post-module contact-form-map">
		<div class="container">
			<h1>{{ entry.title }}</h1>

			<div class="col-outer">
				<div class="one-third">
					<div id="message-wrap" class="contact-email-form">
						{{ craft.freeform.form("contact").render }}
					</div>
				</div>

				{% include 'includes/snippets/office__main' with {office: homeOffice} %}
			</div>
		</div>
	</section>

	<section class="post-module contact-other-locations">
		<div class="container">
			<div class="col-outer">
				{% for office in craft.categories.group('offices').id('not '~homeOffice.id) %}
					{% include 'includes/snippets/office' with {office: office} %}
				{% endfor %}
			</div>
		</div>
	</section>

	<section class="post-module module-newsletter-signup">
		<div class="container">
			<!-- <div class="newsletter-signup">
			</div> -->

			<div class="contact-social">
				<h5>Follow Us on Social Media</h5>

				{% include 'includes/snippets/social_links' %}

			</div>
		</div>
	</section>
{% endblock %}
