{% extends '_layout' %}

{% set title = entry.title %}

{% block content %}
<section class="text-banner text-banner--center">
    <div class="container">
        <div class="text-banner__content">
            <h3 class="text-banner__heading">{{ entry.title }}</h3>

            <p class="text-banner__subheading">{{ entry.prioritiesExplainer }}</p>
        </div>
    </div>
</section>
{% for module in entry.priorities %}
	{% include 'includes/snippets/module__image_right_rotated' %}
{% endfor %}
{% endblock %}