{% set redirect = redirect ?? '/' %}

<form method="post" accept-charset="UTF-8">
    {{ getCsrfInput() }}
    {{ redirectInput(redirect) }}

    <input type="hidden" name="action" value="users/login">

    <h3><label for="loginName">Username or email:</label></h3>
    <input id="loginName" type="text" name="loginName"
        value="{{ craft.session.rememberedUsername }}">

    <h3><label for="password">Password:</label></h3>
    <input id="password" type="password" name="password">

    <label class="remember-me">
        <input type="checkbox" name="rememberMe" value="1">
        Remember me
    </label>

    {% if errorMessage is defined %}
        <p>{{ errorMessage }}</p>
    {% endif %}

    <input type="submit" value="Login">
</form>

<p><a href="{{ url('forgotpassword') }}">Forget your password?</a></p>
