<div class="cover default">
	{% set images = landing.heroImage %}
	<div class="tile-intro">
	
		<h1>{{ landing.title }}</h1>
		
		<div class="enter-bar"></div>
		
		{# for image in images | reverse %}
		<div class="tile" style="background-image: url({{ craft.imager.transformImage(image, { width: 2880, jpegQuality: 75, ratio: 8/5, position: image.focusPctX ~ '% ' ~ image.focusPctY ~ '%' }) }})"></div>
		{% endfor #}
	</div>
	<div class="loader">
		{% include 'includes/stream/loader' with { isHidden: false } %}
	</div>
</div>

{% includeJs %}
$(function() {
	var time = 1,
	ease = Power3.easeInOut,
	headerHeight = $('header').height(),
	$enterBar = $('.cover .enter-bar')
	
	var coverTween = new TimelineMax({ paused: true })

	coverTween
		.to('.cover .loader', time, { y: "-100%", onComplete: function() {
			$('.cover .loader').hide();
		 }})
		.add("revealText", "-=" + time/2)
		.to( '.tile-intro', time, { width: window.innerWidth - $enterBar.width() }, "revealText")
		.to( $enterBar[0], time, { x: 0 }, "revealText" )
		.to( 'header', time, { autoAlpha: 1 })
		.set( '.tile-intro', { width: "calc(100vw - " + $enterBar.width() + "px)" })
		
		
	window.coverTween = coverTween;
	{% if landing.id == entry.id %}	
	coverTween.play();
	{% else %}
	coverTween.seek(coverTween.duration());
	{% endif %}	
})
{% endincludejs %}